.save-btn-div {
    display: flex;
    justify-content: flex-end;
    .save-filter-button {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 143%;
      letter-spacing: 0.00938rem;
      color: #fff;
      padding: 0.75rem 1.87rem;
    }
  }

 .option-list{
    white-space: normal;
    line-height: 1em;
    height: 2em;
 } 
