.publish {
    background-color: #eef7ff;
    color: #4284c0;
  }
  .develop {
    background-color: #fff9e8;
    color: #ffcf5c;
  }
  .inactive {
    background-color: #7a807e33;
    color: #7a807e;
  }

  .mat-column-symbol{
    flex: 0 0 23%;
  }