.mat-column-id,
.mat-column-number {
  flex: 0 0 120px;
}

.mat-column-description {
  flex: 1 0 300px;
}


mat-row,
mat-header-row {
  padding: 6px;
}


.inActiveItem mat-cell {
  color: gray !important;
  font-style: italic !important;
}
