      <div class="flex flex-col px-12 py-6">
        <ng-container *ngIf="linkPos">
            <div class="flex flex-row justify-between">
                <h2>Link {{("Position" | labelReplacement)| async}}s to Training Program</h2>
                <app-button ButtonType="icon" icon="close" (clicked)="closed.emit('fp--pos-link-closed')"></app-button>
    
            </div>
            <div class="flex flex-row items-center border-b-0.8 border-gray-one">
                <div class="flex flex-grow">
                    <app-icon icon="search"></app-icon>
                    <input class="text-sm flex-grow focus:outline-none" placeholder="Search" type="text"
                        (keyup)="filterData($event)">
                </div>
            </div>
            <!--Heading ends-->
    
            <div class="flex flex-row mt-3 items-center text-gray-four justify-between text-xs btn-group">
  
                <div class="cursor-pointer">
                    <span> Showing:
                        <label mat-button class="mb-0">
                            <p *ngIf="showActive" class="font-bold">
                                Active
                            </p>
                          <!--   <p *ngIf="!showActive" class="font-bold">
                                Inactive
                            </p>
       -->
                        </label>
<!--                         <app-icon icon="expand_more" [matMenuTriggerFor]="menu"></app-icon>
 -->                    </span>
      
                  <!--   <mat-menu #menu="matMenu">
                        <label mat-menu-item *ngIf="!showActive" (click)="filterActive(true)">
                            Active</label>
      
                        <label mat-menu-item *ngIf="showActive" (click)="filterActive(false)">
                            Inactive</label>
                    </mat-menu> -->
            </div>
            <app-button variant="text" icon="add" iconPosition="left" text="Add new {{('Position' | labelReplacement)| async}}" (clicked)="linkPos=false">
            </app-button>

      
            </div>
    
            <div class="flex flex-col flex-wrap bg-gray-one mb-3 mt-3  px-3 py-3 rounded" *ngIf="linkedIds.length > 0">
                <div class="flex flex-row w-full justify-between mb-3">
                    <p class="text-xs text-gray-four pt-2">{{linkedIds.length}} {{("Position" | labelReplacement)| async}}s selected</p>
                    <app-button [spinner]="isLoading" class="mb-2" type="button" color="secondary" size="sm"
                        (clicked)="linkToTrainingProgram()" text="Link to Training Program">
                    </app-button>
                </div>
    
            </div>
            <!-- *ngIf="active_tasks" -->
    
            <!-- <app-spinner *ngIf="positions === undefined"></app-spinner> -->
            <!-- <ng-container *ngIf="positions && positions.length < 1">
                <div>No Data Found</div>
            </ng-container> -->
            <ng-container>
                <div class="flex flex-col">
                    <app-data-loader *ngIf="isLoading"></app-data-loader>
                    <div class="flex flex-row justify-between" *ngIf="!isLoading">
                                    <div class="flex flex-row justify-between" (click)="$event.stopPropagation();" style="width:40vw;">
                                        
                                        <mat-radio-group name="opList" aria-label="Select an option" class="flex flex-col">
                                            <mat-radio-button *ngFor="let o of filteredList" (change)="posChecked($event,o.positionTitle)"
                                            [value]="o.id" name="opList" [hidden]="!o.active">{{o.positionTitle}}</mat-radio-button>
                                          </mat-radio-group>
                                    </div>
                    </div>
    
    
                    <!-- <mat-checkbox (change)="positionChecked($event.checked, 2)">
                        Org 2
                    </mat-checkbox>
                    <mat-checkbox (change)="positionChecked($event.checked, 3)">
                        Org 3
                    </mat-checkbox> -->
    
                    <!-- </div> -->
    
                </div>
            </ng-container>
        </ng-container>
    
        <!-- Here goes the add position flypanel once it is ready -->
    </div>
    <ng-container *ngIf="!linkPos">
        <app-fly-panel-add-position  (closed)="linkPos=true;getOrganizations()">
        </app-fly-panel-add-position>
    </ng-container>