.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-lr-5 {
    padding: 0 5px;
}

.blueBg {
    background-color: #cffafe;
    color: #06b6d4;
}

.yellowBg {
    background-color: rgb(254 249 195);
    color: rgb(250 204 21);
}

.customcolorgreenOnlyText {
    color: rgba(92, 155, 49, 1);
}

.customcolorRedOnlyText {
    color: red;
}
:host ::ng-deep .status-view{
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
:host ::ng-deep .active-view{
    margin-bottom: 0px;
    text-align: center;
}
.disabled-checkbox {
    opacity: 0.5; 
    color: grey;
  }
  
.filter-list-data{
    margin-top: 1.125rem;
    box-shadow: 0px 0px 30px 0px rgba(122, 128, 126, 0.10);
    border-radius: 4px;
    border: 0.5px solid #E1E5E4;
    overflow: hidden;
}

:host ::ng-deep .filter-list-data .mat-header-cell:nth-child(1),
  :host ::ng-deep .filter-list-data .mat-cell:nth-child(1) {
    max-width: 50px;
    min-width: 20px
  }

:host ::ng-deep .filter-list-data .mat-cell,:host ::ng-deep .filter-list-data .mat-header-cell {
  padding: 1rem;
}

:host ::ng-deep .filter-list-data .mat-cell.no-data-cell{
  flex: 1 1 100%;
  max-width: unset;
  border-bottom: none;
}