<!-- Forms card starts here -->
<div class="bg-white shadow-md rounded px-12 py-12 ">
    <h1 class="text-2xl font-semibold text-gray-900" translate>L.NewPasswordViewHeader</h1>

    <!-- form starts here -->
    <form class="block text-sm" method="post" [formGroup]="createPassForm" (ngSubmit)='resetPassword(this)'>

        <div class="mt-6">
            <app-label [for]="'email'" [text]="'Email'"></app-label>

            <app-textbox type="email" [name]="'email'" formControlName="email" [placeholder]="'Enter Email'">
            </app-textbox>
            <app-input-error
                *ngIf="createPassForm.get('email')?.invalid && createPassForm.get('email')?.hasError('required')"
                [text]="'Email is Required'">
            </app-input-error>
            <app-input-error
                *ngIf="createPassForm.get('email')?.invalid && createPassForm.get('email')?.hasError('email')"
                [text]="'Enter Valid Email'"></app-input-error>
        </div>
        <div class="mt-6">
            <app-label [for]="'password'" [text]="'Password'"></app-label>
            <app-password [showPassword]="false" formControlName='password' [name]="'password'"
                [placeholder]="'Enter your Password'">
            </app-password>

            <app-input-error
                *ngIf="createPassForm.get('password')?.invalid"
                text="Password is required with minimum length of 14 characters"></app-input-error>
        </div>

        <div class="mt-6 mb-6">
            <app-label [for]="'confirmPass'" [text]="'Confirm Password'"></app-label>
            <app-password [showPassword]="false" formControlName='confirmPassword' [name]="'confirmPass'"
                [placeholder]="'Enter your Confirm Password'">
            </app-password>

            <app-input-error
                *ngIf="createPassForm.get('confirmPassword')?.invalid && createPassForm.get('confirmPassword')?.hasError('required')"
                text="Confirm Password is required"></app-input-error>
            <br />
            <app-input-error
                *ngIf="createPassForm.get('confirmPassword')?.value !=createPassForm.get('password')?.value"
                text="Passwords Don't Match"></app-input-error>

                

        </div>

        <app-button color="primary" size="lg" [disabled]="createPassForm.invalid || processing  ||
        createPassForm.get('confirmPassword')?.value !=createPassForm.get('password')?.value" [spinner]="processing"
            text="Set Password">
        </app-button>
    </form>
    <!-- form ends here -->
</div>
<!-- Forms card ends here -->