.card-wrap {
  padding: 10px 0 3px 0px;
  display: flex;
  gap: 5rem;
}
.sm-container-card {
  flex: 1 1 25%;
  background-color: white;
  border-radius: 5px;
  margin: 3px;
  padding: 10px;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.status-section {
  text-align: center;
}
.status {
  font-size: 24px;
  font-weight: bold;
  text-align: start;
}
.status.green {
  color: green;
}
.status.red {
  color: red;
}

.mat-table-header {
  color: #7a807e;
}
.keyword-input {
  align-items: center;
  padding: 24px;
  svg {
    margin-right: 8px;
  }
  input {
    max-width: 300px;
    width: 100%;
  }
}
.flex-end {
  justify-content: flex-end;
}

.customcolorgreen {
  background-color: rgba(92, 155, 49, 0.1);
  color: rgba(92, 155, 49, 1);
}
.customcolorblue {
  background-color: rgba(238, 247, 255, 1);
  color: rgba(66, 132, 192, 1);
}

.customcolorpink {
  background-color: rgba(255, 249, 232, 1);
  color: rgba(255, 207, 92, 1);
}
.sub-table-cell {
  height: unset !important;
}

.close-icon {
  position: absolute;
  right: 0;
  top: 5px;
  bottom: 0;
  margin: auto;
  height: 20px;
  line-height: 1;
}
.icon {
  font-size: 18px;
  margin-top: 1rem;
}

.overview-spinner {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyword-input {
  align-items: center;
  svg {
    margin-right: 8px;
  }
  input {
    width: 100%;
  }
}

:host ::ng-deep .inactive-row {
  font-style: italic;
  opacity: 0.6;
}

.container-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 14px 35px 28px;
  box-shadow: 0 4px 30px 0 #7a807e1a;
  gap: 16px;
}
.lg-container-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 14px 35px 28px;
  box-shadow: 0 4px 30px 0 #7a807e1a;
  gap: 16px;
  width: 100%;
}
.card-gap {
  gap: 8rem;
}
.m0 {
  margin: 0;
}
