<ng-container>
    <div class="flex flex-row justify-between items-center px-12 mt-5">
        <p class="text-xl font-bold text-gray-900">{{name}}
        </p>
        <app-button (click)="flyInService.close()" ButtonType='icon' icon="close"></app-button>
    </div>

     <app-spinner *ngIf="spinner"></app-spinner>
    <ng-container *ngIf="treedataSource.data.length > 0">
        <div class="flex flex-col px-12">

            <mat-tree [dataSource]="treedataSource" [treeControl]="tasktreeControl" class="qtd-tree">
             
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                    &nbsp;&nbsp;

               <span *ngIf="moduleName === 'Catactive' || moduleName === 'Catinactive'">{{node.locCategoryTitle}}</span>
               <span *ngIf="moduleName === 'Locactive' || moduleName === 'Locinactive'">{{node.locNumber}} - {{node.locName}}</span>

                   

                </mat-tree-node>
            </mat-tree>
        </div>
    </ng-container>
</ng-container>

