<div class="mb-3">

  <div class="flex">
    <input [type]="showPassword ? 'text' : 'password'" [name]="name" [placeholder]="placeholder" [disabled]="disabled"
      [value]="defaultValue" (input)="valueChanged($event)" [class]="
        'text-base border h-5 px-4 py-6 mt-2 w-full hover:outline-none focus:outline-none focus:ring focus:ring-offset-2 focus:ring-green-900 focus:ring-opacity-50 rounded '
      " [attr.data-cy]="cy"/>
    <span class="input-group-text h-5 px-4 py-6 mt-2 cursor-pointer" id="basic-addon2">
      <app-icon [icon]="showPassword ? 'visibility' : 'visibility_off'" (click)="showPassword=!showPassword" [attr.data-cy]="cy + '-visibility'"></app-icon>
    </span>
  </div>
</div>