.inprogress {
    background-color: #eef7ff;
    color: #4284c0;
  }
  .notStarted {
    background-color: #fff9e8;
    color: #ffcf5c;
  }
  .completed {
    background-color: #F1FFFB;
    color: #00C48C;
  }