<ng-container *ngIf="providerCheck === false || activeCheck ===true">
  <div class="flex flex-row justify-between items-center px-12 mt-5">
    <p *ngIf="activeCheck === false && draft_dev_check === true && published_check === false"   class="text-xl font-bold text-gray-900">{{("ILA" | labelReplacement)| async}}s in Draft/Dev Mode</p>
    <p *ngIf="activeCheck === true && draft_dev_check ===   false" class="text-xl font-bold text-gray-900">Active {{("ILA" | labelReplacement)| async}}s</p>
    <p *ngIf="activeCheck === false && draft_dev_check === false && published_check === true"   class="text-xl font-bold text-gray-900">Published {{("ILA" | labelReplacement)| async}}s</p>
    <p *ngIf="activeCheck === false && draft_dev_check === false && published_check === false && unlinkedTopicCheck === true"   class="text-xl font-bold text-gray-900">{{("ILA" | labelReplacement)| async}}s Not Linked To Topic</p>
    <app-button (click)="flyPanelSrvc.close()" ButtonType='icon' icon="close"></app-button>
  </div>

  <app-spinner class="spinner-class" *ngIf="spinner"></app-spinner>

  <div class=" bg-white rounded mr-12 ml-12 mat-elevation-z8 rounded-b-md mt-12" *ngIf="!spinner">
    <mat-table [dataSource]="TableDataSource" matSort (matSortChange)="sortActiveILAsData($event)">
      <ng-container matColumnDef="ilaNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{("ILA" | labelReplacement)| async}} No.
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.number}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ilaTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{("ILA" | labelReplacement)| async}} Title </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="NickName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nickname </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.nickName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="deliveryMethode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Delivery Methods </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.deliveryMethodName}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <!-- Row shown when there is no matching data.-->
      <tr class="mat-row flex text-center " *matNoDataRow>
        <td class="mat-cell w-full m-2">
          No <ng-container *ngIf="'ILA' | labelReplacement | async as replacedLabel">{{ replacedLabel }}</ng-container> {{ draft_dev_check ? "is in Draft/Dev" : "Published yet" }}
        </td>
      </tr>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[20, 40, 60]" #paginator showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</ng-container>

<ng-container *ngIf="providerCheck === true && activeCheck === false" >
  <div class="flex flex-row justify-between items-center px-12 mt-5">
    <p class="text-xl font-bold text-gray-900">{{name}}</p>
    <app-button (click)="flyPanelSrvc.close()" ButtonType='icon' icon="close"></app-button>
  </div>

  <app-spinner class="spinner-class" *ngIf="spinner"></app-spinner>

  <div class=" bg-white rounded mr-12 ml-12 mat-elevation-z8 rounded-b-md mt-12" *ngIf="!spinner">
    <ng-container *ngIf="ProviderDataSource">
      <mat-table [dataSource]="ProviderDataSource" matSort (matSortChange)="sortProviderData($event)">
        <ng-container matColumnDef="No">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Provider Number
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.number}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Provider Title </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.name}} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
        <!-- Row shown when there is no matching data.-->
        <tr class="mat-row flex text-center " *matNoDataRow>
          <td class="mat-cell w-full m-2">No Data Found</td>
        </tr>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[20, 40, 60]" #paginator showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </ng-container>


    <ng-container *ngIf="TopicDataSource">
      <mat-table [dataSource]="TopicDataSource" matSort (matSortChange)="sortTopicData($event)">
        <ng-container matColumnDef="No">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Topic Number
          </mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index">
            {{i+1}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Topic Title </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.name}} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
        <!-- Row shown when there is no matching data.-->
        <tr class="mat-row flex text-center " *matNoDataRow>
          <td class="mat-cell w-full m-2">No Data Found</td>
        </tr>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" #paginator showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </ng-container>
   
  </div>

</ng-container>