.mat-column-ilaTitle {
    flex: 0 0 120px;
  }
  
  .mat-column-deliveryMethode {
    flex: 0 0 110px;
  }

  .spinner-class{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }