<!-- Forms card starts here -->
<div class="bg-white shadow-md rounded px-12 py-12 ">
    <h1 class="text-2xl font-semibold text-gray-900" translate>L.ResetPassword</h1>

    <!-- form starts here -->
    <form class="block text-sm" method="post" [formGroup]="resetPassForm" (ngSubmit)='getResentLink(this)'>

        <p class="block text-gray-700 font-medium mt-4" translate>L.ForgotPasswordInstructions</p>

        <div class="mt-12 mb-6">
            <app-label [for]="'email'" [text]="'Email'"></app-label>
            <app-textbox type="email" [name]="'email'" formControlName="email" [placeholder]="'Enter Email'" cy="email">
            </app-textbox>
            <app-input-error
                *ngIf="resetPassForm.get('email')?.invalid && resetPassForm.get('email')?.hasError('required')"
                [text]="'Email is Required'"
                cy="email-is-required">
            </app-input-error>
            <app-input-error
                *ngIf="resetPassForm.get('email')?.invalid && resetPassForm.get('email')?.hasError('email')"
                [text]="'Enter Valid Email'"
                cy="enter-valid-email">
            </app-input-error>
        </div>

        <app-button color="primary" size="lg" [disabled]="resetPassForm.invalid || processing" [spinner]="processing"
            text="Get Reset link" cy="reset-button">
        </app-button>
        <p class=" text-gray-500 mt-12 text-center block" translate>L.AlreadyHaveAnAccount
            <app-link routerLink='/auth/login/' customClasses="underline hover:text-green-900" text="Sign In">
            </app-link>
        </p>
    </form>
    <!-- form ends here -->
</div>
<!-- Forms card ends here -->