.header-spacing{
    padding: 1.5rem 1.5rem 1.5rem 3rem;
}
.input-box {
    position: relative;
    width: 100%;
}

.close-icon {
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 0;
    margin: auto;
    height: 20px;
    line-height: 1;
}

.filter-spinner{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}