:host ::ng-deep .modifiedTextbox input {
  border: none !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  height:2rem;
  width: 5.6rem;
  margin-bottom: 0.5rem;
}
.pd-left-50{
padding-left: 50px;
}
.m-t-20{
  margin-top: 20px;
}

:host ::ng-deep .modifiedTextbox input {
  border: none !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  height:2rem;
  width: 5.6rem;
  margin-bottom: 0.5rem;
}