<div class="flex flex-row flex-wrap ml-4 px-8 mt-3">
  <p class="font-bold text-lg">
    {{("Tool" | labelReplacement)| async}}s Overview
  </p>
</div>

<app-spinner *ngIf="stats == null"></app-spinner>

<div *ngIf="stats != null" class="px-10 pb-12 flex flex-row">
  <div class="container bg-white rounded m-3 pt-3 pl-3 shadow-sm w-fit mb-4">
    <div class="mb-4">Categories</div>
    <div class="flex flex-row ">
      <div class="flex flex-col ">
        <span (click)="statsObject?.activeCaategories > 0 && openFlyInPanel(toolsNotLinkedPanelRef, 'Catactive')"
          [ngClass]="{
            'text-xl text-qtd font-bold cursor-pointer': statsObject?.activeCaategories > 0,
            'text-lg text-black': statsObject?.activeCaategories == 0
          }">
          <b>{{statsObject?.activeCaategories}}</b>
        </span>
        <p>Active</p>
      </div>
      <span class=" pl-3 pr-3"></span>
      <div class="flex flex-col">
        <span (click)="statsObject?.inActiveCaategories > 0 && openFlyInPanel(toolsNotLinkedPanelRef, 'Catinactive')"
          [ngClass]="{
            'text-xl text-red-600 font-bold cursor-pointer': statsObject?.inActiveCaategories > 0,
            'text-lg text-black': statsObject?.inActiveCaategories === 0
          }">
          <b>{{statsObject?.inActiveCaategories}}</b>
        </span>
        <p>Inactive</p>
      </div>
    </div>
  </div>

  <div class="container bg-white rounded m-3 pt-3 pl-3 shadow-sm w-fit mb-4">
    <div class="mb-4">{{("Tool" | labelReplacement)| async}}s</div>
    <div class="flex flex-row">
      <div class="flex flex-col">
        <span (click)="statsObject?.activeToolsCount > 0 && openFlyInPanel(toolsNotLinkedPanelRef, 'Active')"
          [ngClass]="{
            'text-xl text-qtd font-bold cursor-pointer': statsObject?.activeToolsCount > 0,
            'text-lg text-black': statsObject?.activeToolsCount === 0
          }">
          <b>{{statsObject?.activeToolsCount}}</b>
        </span>
        <p>Active</p>
      </div>
      <span class="pl-3 pr-3"></span>
      <div class="flex flex-col">
        <span (click)="statsObject?.inActiveToolsCount > 0 && openFlyInPanel(toolsNotLinkedPanelRef, 'Inactive')"
          [ngClass]="{
            'text-xl text-red-600 font-bold cursor-pointer': statsObject?.inActiveToolsCount > 0,
            'text-lg text-black': statsObject?.inActiveToolsCount === 0
          }">
          <b>{{statsObject?.inActiveToolsCount}}</b>
        </span>
        <p>Inactive</p>
      </div>
    </div>
  </div>

  <div class="container bg-white rounded m-3 pt-3 pl-3 shadow-sm mb-4 w-fit">
    <div class="mb-4">{{("Tool" | labelReplacement)| async}}s Not Linked to</div>
    <div class="flex flex-row">
      <div class="flex flex-col cursor-pointer">
        <span (click)="statsObject?.toolsNotLinkedToTaskCount > 0 && openFlyInPanel(toolsNotLinkedPanelRef, 'ToolsNotLinkedToTask')"
          [ngClass]="{
            'text-xl text-qtd font-bold cursor-pointer': statsObject?.toolsNotLinkedToTaskCount > 0,
            'text-lg text-black': statsObject?.toolsNotLinkedToTaskCount === 0
          }">
          <b>{{statsObject?.toolsNotLinkedToTaskCount}}</b>
        </span>
        <p>{{("Task" | labelReplacement)| async}}s</p>
      </div>
      <span class=" pl-3 pr-3"></span>
      <div class="flex flex-col cursor-pointer">
        <span (click)="statsObject?.toolsNotLinkedToSkillAssesmentCount > 0 && openFlyInPanel(toolsNotLinkedPanelRef, 'ToolsNotLinkedToSA')"
          [ngClass]="{
            'text-xl text-qtd font-bold cursor-pointer': statsObject?.toolsNotLinkedToSkillAssesmentCount > 0,
            'text-lg text-black': statsObject?.toolsNotLinkedToSkillAssesmentCount === 0
          }">
          <b>{{statsObject?.toolsNotLinkedToSkillAssesmentCount}}</b>
        </span>
        <p>{{("Skills Assessment" | labelReplacement)| async}}</p>
      </div>
      <span class=" pl-3 pr-3"></span>
    </div>
  </div>
</div>

<div class="flex flex-row flex-wrap ml-4 px-8 mr-4 justify-between">
  <p class="font-bold text-lg">Latest Activity</p>
  <app-button variant="text" 
    text="View all history"
    (clicked)="openHistFlypanel(viewToolHistoryRef)">
  </app-button>
</div>

<app-data-loader *ngIf="!dataSource"></app-data-loader>

<div *ngIf="dataSource" class="px-12 pb-12 mt-5">
  <div class="border-gray-one shadow-xs border-0.5 rounded mat-elevation-z8">

    <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{("Tool" | labelReplacement)| async}} ID
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.id}}.{{row.number}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.title}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="desc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Description of Change
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.activityDesc}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="modifyBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Modified By
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="flex flex-col">
            <span class="text-qtd">{{row.modifiedBy}}</span>
            <span class="mt-2">{{row.modifiedDate}}</span>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <!-- Row shown when there is no matching data.-->
      <tr *matNoDataRow class="mat-row flex text-center">
        <td class="mat-cell w-full m-2">No data matching the filter</td>
      </tr>
    </mat-table>
    <!-- 
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator> -->
  </div>
</div>

<ng-template #viewToolHistoryRef>
  <app-fly-panel-tool-history></app-fly-panel-tool-history>
</ng-template>

<ng-template #toolsNotLinkedPanelRef>
  <app-fly-panel-tool-not-linked [panelType]="popupPanelType"
    [activeInactiveCheck]="activeInactiveCheck">
  </app-fly-panel-tool-not-linked>
</ng-template>