.icon_button{
  height: 41px;
  width: 41px;
  border-radius: 50%;
  color: rgb(92, 155, 49);
  background-color: rgb(224, 246, 210);
}

.main_container{
  width: 100% !important;height: 100% !important;background-color: rgb(246, 244, 244) !important;
}
