.text-color{
    font-weight: 500;
    color: black;
}
.text-color i{
    color: green;
}

.example-radio-group {
    display: flex; flex-direction: column;
    /* display: inline-grid; */
    /* display: grid; */
    margin: 15px 0;
    padding: 0px 0px 9px 0px;
  }


  .myGrid {
    display: grid;
    border: 1px solid lightgray;
  }

  .inputStyle {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .textAreaStyle{
    width: 100%;
    height: 100px;
    border: 1px solid #f0f2f1;
  }

  :host ::ng-deep p{
    margin:0 !important;
  }
  .white-space-reset{
    white-space: initial;
  }

  .question-text {
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .wrap-text {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .question-label {
    white-space: nowrap;
    overflow: visible;
    display: inline-block;
    max-width: auto;
    vertical-align: top;
  }