span.panel-subheading {
    letter-spacing: 0.15px;
    color: rgba(122, 128, 126, 0.8);
    font-size: 12px;
    line-height: 166%;
}
.panel-heading {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.15px;
    color: #000D09;
    font-weight: 700;
}