<app-header [toggleMenuIcon]="false" [canGoBack]="false" [breadcrumbs]="url"></app-header>
<div class="flex flex-row flex-wrap ml-4 mt-3 justify-between p-3">
    <div class="flex flex-row justify-between" style="align-items: baseline; width: 50%">
      <span class="font-bold text-lg" style="width: 50%">Tests</span>
      <!-- <div class="flex flex-row float-right bg-white-one text-sm"> -->
      <!-- </div> -->
    </div>


    <section class="mat-elevation-z8 w-full mt-4 bg-white" *ngIf="isLoading===false">

        <mat-tab-group [(selectedIndex)]="selectedIndex" #tabGroup>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>{{completedLabel}}</span>
                <div class="icon" *ngIf="completedDataSource && completedDataSource.data.length > 0">
                  <span class="icon__value">{{completedDataSource ? completedDataSource.data.length:""}}</span>
                </div>
              </ng-template>
                <div  *ngIf="completedDataSource">
                        <!-- search and buttons starts -->
                        <div
                            class="flex flex-row items-center bg-white-one rounded-t-md py-4 px-6 space-x-2 border-b-0.8 border-gray-one ">
                            <svg class="flex-none w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                            <input class="text-sm flex-grow focus:outline-none" placeholder="Enter key word to search"
                                type="text" (keyup)="filterCompletedTest($event)">

                        </div>
                        <!-- search and button ends -->
                        <!-- table starts -->
                        <div class="flex-row bg-white-one rounded-b-md m-2 ">

                            <mat-table [dataSource]="completedDataSource" #compSort="matSort" matSort (matSortChange)="sortCompletedData($event)">
                                <ng-container matColumnDef="testNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Test No. </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index">{{row.testNo + 1}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="ilaWithTitle">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{("ILA" | labelReplacement)| async}} # and Title </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.ila}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="testType">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Test Type </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.testType}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="completedDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Test Completion Date </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.completedDate === null ? 'N/A':datePipe.transform(covertUtcToLocalTime(row.completedDate),'MM/dd/YYYY')}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="score">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.score}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="grade">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Grade</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.grade}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="instructpr">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{("Instructor" | labelReplacement)| async}}</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.instructpr}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="location">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{("Location" | labelReplacement)| async}}s</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
                                </ng-container>
                                <!-- <ng-container matColumnDef="ila">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ila</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.ila}} </mat-cell>
                                </ng-container> -->
                                <mat-header-row *matHeaderRowDef="displayedCompletedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedCompletedColumns;"></mat-row>

                                <!-- Row shown when there is no matching data.-->
                                <tr class="mat-row flex text-center " *matNoDataRow>
                                    <td class="mat-cell w-full m-2">No data matching the filter</td>
                                </tr>

                            </mat-table>

                            <mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons #compPage
                                aria-label="Select page of periodic elements">
                            </mat-paginator>
                        </div>
                        <!-- table ends -->
                </div>

                </mat-tab>
            <mat-tab [label]="pendingLabel + pendingDataSource.data.length">
                <ng-template mat-tab-label>
                  <span>{{pendingLabel}}</span>
                  <div class="icon" *ngIf="pendingDataSource && pendingDataSource.data.length > 0">
                    <span class="icon__value">{{pendingDataSource ? pendingDataSource.data.length:""}}</span>
                  </div>
                </ng-template>
                <div  *ngIf="pendingDataSource">
                    <!-- search and buttons starts -->
                    <div
                        class="flex flex-row items-center bg-white-one rounded-t-md py-4 px-6 space-x-2 border-b-0.8 border-gray-one ">
                        <svg class="flex-none w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                        <input class="text-sm flex-grow focus:outline-none"  placeholder="Enter key word to search"
                            type="text" (keyup)="filterPendingTest($event)">

                    </div>
                    <!-- search and button ends -->
                    <!-- table starts -->
                    <div class="flex-row bg-white-one rounded-b-md m-2 ">

                        <mat-table [dataSource]="pendingDataSource" #pendSort="matSort" matSort (matSortChange)="sortPendingData($event)">
                            <ng-container matColumnDef="testNo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Test No. </mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index">{{row.testNo + 1}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="ilaWithTitle">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{("ILA" | labelReplacement)| async}} # and Title </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.ila}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="testType">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Test Type </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.testType}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="dueDate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Test Due Date </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{ row.dueDate === null ? 'N/A':datePipe.transform(covertUtcToLocalTime(row.dueDate),'MM/dd/YYYY') }} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="instructpr">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{("Instructor" | labelReplacement)| async}}</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.instructpr}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="location">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{("Location" | labelReplacement)| async}}s</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
                            </ng-container>
                            <!-- <ng-container matColumnDef="ila">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Ila</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.ila}} </mat-cell>
                            </ng-container> -->

                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-chip-list>
                                        <mat-chip style="background-color: #fff6df;color: #f0b43e;"  *ngIf="row.status==='Not Started'"
                                            >
                                            Pending
                                        </mat-chip>
                                        <mat-chip [matTooltip]="'For security reasons this test has been disabled.  Contact your training manager to restart this test'" [matTooltipClass]="'bigToolTip'" style="background-color: #fef3f2;color: #fa634e;"  *ngIf="row.status==='In Progress'"
                                        >
                                        In Progress
                                    </mat-chip>
                                    </mat-chip-list>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <app-button color="blueBorder" [disabled]="row.status==='In Progress'" [matTooltip]=" row.status==='In Progress' ? 'For security reasons this test has been disabled.  Contact your training manager to restart this test':''"  (click)="startTest(row)" text="Start Test" size="sm"  iconPosition="left"
                >
            </app-button>
                                </mat-cell>
                            </ng-container>
                            <!-- <ng-container matColumnDef="grade">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Grade </mat-header-cell>
                                <mat-cell *matCellDef="let row" > {{row.organization}} </mat-cell>
                            </ng-container> -->

                            <mat-header-row *matHeaderRowDef="displayedPendingColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedPendingColumns;"></mat-row>

                            <!-- Row shown when there is no matching data.-->
                            <tr class="mat-row flex text-center " *matNoDataRow>
                                <td class="mat-cell w-full m-2">No data matching the filter</td>
                            </tr>

                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons #pendPage
                            aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                    <!-- table ends -->
            </div>


            </mat-tab>
          </mat-tab-group>

    </section>
  </div>

  <app-data-loader *ngIf="isLoading"></app-data-loader>

