.mat-column-testCompletion{
    flex: 0 0 15%;
}

.icon {
  border-radius: 50%;
  background-color: #456FA5;
  color: white;
  padding: 0.5em;
  margin-left: 0.5rem;
  /* Center the text contents */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon__value {
  /* Set the height to 0 and overflow to visible to not interfere with the square styles */
  overflow: visible;
  height: 0;

  /* Vertically center text since we set its height to 0 */
  margin-top: -1.35em;
}

.icon:after {
  content: '';
  display: block;

  /* Ensure the element is a square */
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}
