<div class="flex flex-col px-12 py-12">
    <div class="flex flex-row justify-between mt-2">
        <p class="text-xl text-gray-900">{{selectedTypeNumber}} - {{Title}}</p>
        <app-button (clicked)="closed.emit('fp-linked-procs-closed')" ButtonType='icon' icon="close">
        </app-button>
    </div>
    <div class="flex flex-row mt-4">
        <p class="text-base text-gray-900">The selected {{selectedType}} is linked to the following {{("Tool" | labelReplacement)| async}}s</p>
    </div>
    <div *ngFor="let item of linkedTools" class="w-full mt-2">
        <div class="px-3 py-3 border">
            <p class="text-sm text-gray-900">{{item.number}} - {{item.description}}</p>
        </div>
    </div>
</div>

