<!--Heading starts-->
<div class="flex flex-col" [ngClass]="{' px-12 py-12':linkRRs}">
  <ng-container *ngIf="linkRRs">
    <div class="flex flex-row justify-between">
      <h2>Link {{("Regulatory Requirement" | labelReplacement)| async}}s to {{("Enabling Objective" | labelReplacement)| async}}</h2>
      <app-button [disabled]="showLinkRRLoader" ButtonType="icon" icon="close" (clicked)="closed.emit('fp-eo-RR-link-closed')"></app-button>

    </div>
    <div class="flex flex-row items-center border-b-0.8 border-gray-one mt-3">
      <div class="flex flex-grow">
        <app-icon icon="search"></app-icon>
        <input class="text-sm flex-grow focus:outline-none" placeholder="Search" type="text"
          (input)="filterData(dataSource.data,$event)" [(ngModel)]="filterRRString">
          <app-icon icon="close" class="cursor-pointer" (click)="clearFilter()"></app-icon>

      </div>
    </div>

    <!--Heading ends-->

    <div class="flex flex-row mt-3 items-center text-gray-four justify-between text-xs btn-group">

      <div class="cursor-pointer">
        <span> Showing:
          <label mat-button class="mb-0">
            <p *ngIf="showActive" class="font-bold">
              Active
            </p>
           <!--  <p *ngIf="!showActive" class="font-bold">
              Inactive
            </p> -->

          </label>
          <!-- <app-icon icon="expand_more" [matMenuTriggerFor]="menu"></app-icon> -->
        </span>

       <!--  <mat-menu #menu="matMenu">
          <label mat-menu-item *ngIf="!showActive" (click)="filterActive(true)">
            Active</label>

          <label mat-menu-item *ngIf="showActive" (click)="filterActive(false)">
            Inactive</label>
        </mat-menu> -->
      </div>
      <app-button variant="text" icon="add" iconPosition="left" text="Add new {{('Regulatory Requirement' | labelReplacement)| async}}s"
        (clicked)="linkRRs=false;addRR=true"></app-button>

    </div>

    <div class="flex flex-col flex-wrap bg-gray-one mb-3 mt-3  px-3 py-3 rounded" *ngIf="linkedIds.length > 0">
      <div class="flex flex-row w-full justify-between mb-3">
        <p class="text-xs text-gray-four pt-2">{{ linkedIds.length + ' ' + ('Regulatory Requirement' | labelReplacement | async) + 's selected' }} </p>
        <app-button (clicked)="linkRR()" [disabled]="showLinkRRLoader" [spinner]="showLinkRRLoader"
          class="mb-2" type="button" color="secondary" size="sm" text="Link to {{('Enabling Objective' | labelReplacement)| async}}">
        </app-button>
      </div>
      <hr>
      <p class="text-xs text-gray-four mt-3">Selecting a Category will select all {{("Regulatory Requirement" | labelReplacement)| async}}s linked
        to
        the given category</p>
    </div>
    <!-- *ngIf="active_RRs" -->

    <app-spinner *ngIf="dataLoader || dataSource.data === undefined"></app-spinner>
    <span *ngIf="!dataLoader && dataSource.data !== undefined && dataSource.data.length < 1">No {{("Regulatory Requirement" | labelReplacement)| async}}s Found</span>
    <ng-container *ngIf="!dataLoader && dataSource.data !== undefined && dataSource.data.length > 0">
      <div class="flex flex-col ">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="qtd-tree">
          <!-- This is the tree node template for leaf nodes -->
          <!-- There is inline padding applied to this node using styles.
                  This padding value depends on the mat-icon-button width. -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <ng-container  *ngIf="node.checkbox">
              <mat-checkbox (change)="onRRChange($event,node)" [checked]="node.selected"></mat-checkbox><span class="ml-1 pb-1">{{node.description}}</span>
            </ng-container>
            <ng-container *ngIf="!node.checkbox">
              <app-icon style="color: rgb(92, 155, 49);" icon="link"></app-icon>&nbsp;<span style="color: rgb(92, 155, 49);">{{node.description}}</span>
            </ng-container>


          </mat-tree-node>

          <!-- This is the tree node template for expandable nodes -->
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <div class="mat-tree-node">
              <button style="outline: none;" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.description">
                <app-icon [icon]="treeControl.isExpanded(node) ? 'expand_more' : 'expand_less'">
                </app-icon>
              </button>

              <mat-checkbox [checked]="node.selected" [indeterminate]="node.indeterminate && !node.selected"
                (change)="itemToggle($event.checked,node)"></mat-checkbox><span class="ml-1 pb-1">{{node.description}}</span>
            </div>

            <div *ngIf="treeControl.isExpanded(node)" role="group">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </mat-nested-tree-node>
        </mat-tree>

      </div>
    </ng-container>
  </ng-container>

  <app-fly-panel-add-rr (refreshRRData)="refreshRRData()" *ngIf="addRR" (closed)="addRR=false;linkRRs=true">
  </app-fly-panel-add-rr>
</div>
