.custom_class{
  margin-left: 5.5rem;
}

.custom_class_1{
   transform: translateY(40px);
}

.custom_class_2{
   padding-top: 5rem;
}

.custom_class_3{
   transform: translateY(-20px);
}

.custom_class_4{
  transform: translate(0px,40px);
}

.custom_class_5{
  transform: translate(-92px, 42px);
}

.custom_class_6{
   transform: translateY(-42px);
}

.mx-12{
   margin-left: 3.0rem !important;
   margin-right: 3.5rem !important;
}

.custom_class_7{
  transform: translateX(-73px);
}

.custom_class_8{
  transform: translateX(-144px);
}

.custom_class_9{
  transform: translateX(-70px);
}

.custom_class_10{
  transform: translateX(-75px);
}

.custom_class_11{
  transform: translate(-58px,-54px);
}

.custom_class_13{
  transform: translateX(8px)
 }

.h-screen{
 height: 200vh !important;
}

.cutsom_class_14{
 transform: translate(1px, 2px);
}

.custom_class_15{
 transform: translate(10px,15px);
}

.cutsom_class_16{
 transform: translateY(-2px);
}

.custom_class_17{
 transform: translate(-198px, -17px);
}

.custom_class_18{
 transform: translate(-128px, -17px);
}

.custom_class_19{
 transform: translate(-57px, -17px);
}

.custom_class_20{
 transform: translate(14px, -17px);
}

.custom_class_21{
 transform: translate(84px, -17px);
}

.custom_class_22{
 transform: translate(153px, -17px);
}

.w-78{
 width: 25rem !important;
}

.mx-12{
 margin-left: 3.5rem !important;
 margin-right: 4.5rem !important;
}

.cutsom_class_12{
 transform: translate(100px, -38px);
}

.custom_class_15{
 width: 23.5rem;
}

.custom_class_16{
 height: 22rem;
}

.pr-4 {
 padding-right: 0.5rem !important;
}

.w-cutsom-2{
 width: 600px;
}

.min-h-screen{
 min-height: 150vh;
}

.custom_class_17{
 left: 50%;
 min-height: 146vh;
}

.custom_class_18{
  transform: translate(75px, 40px);
}

.custom_class_21{
  transform: translate(65px, 15px);
}

.custom_class_19{
  transform: translate(10px,95px);
}

.w-custom{
  width: 175%;
}

.w-custom_1{
  width: 65%;
}

.w-cutsom-3{
  width: 660px;
}



