<div class="flex flex-row flex-wrap ml-4 mt-3">
    <p class="font-bold text-lg">{{("Definition" | labelReplacement)| async}}s Overview</p>
</div>
<div class="px-10 pb-12 flex flex-row">
    <ng-container *ngIf="!isLoading">
        <div class="container bg-white rounded m-3 pt-3 pl-3 shadow-sm w-fit mb-4">

            <div class="mb-4">Categories</div>
            <div class="flex flex-row ">
                <div class="flex flex-col ">
                    <span style="color:green" class="text-lg"><b>{{catCompleted}}</b></span>
                    <p>Active</p>
                </div>
                <span class=" pl-3 pr-3"></span>
                <div class="flex flex-col">
                    <span style="color: red;" class="text-lg"><b>{{catIncompleted}}</b></span>
                    <p>Inactive</p>
                </div>
            </div>

        </div>

        <div class="container bg-white rounded m-3 pt-3 pl-3 shadow-sm w-fit mb-4">

            <div class="mb-4">{{("Definition" | labelReplacement)| async}}s</div>
            <div class="flex flex-row">
                <div class="flex flex-col">
                    <span style="color:green" class="text-lg"><b>{{catCompleted}}</b></span>
                    <p>Active</p>
                </div>
                <span class=" pl-3 pr-3"></span>
                <div class="flex flex-col">
                    <span style="color: red;" class="text-lg"><b>{{catIncompleted}}</b></span>
                    <p>Inactive</p>
                </div>
            </div>


        </div>      
    </ng-container>
    
</div>
<div class="flex flex-row flex-wrap ml-4 mr-4 justify-between">
    <p class="font-bold text-lg">Latest Activity</p>
    <app-button variant="text" text="View all history"></app-button>
</div>

          <div class="px-12 pb-12 mt-5" *ngIf="dataSource">
            <div class="border-gray-one shadow-xs border-0.5 rounded mat-elevation-z8">
        
                <mat-table [dataSource]="dataSource" matSort *ngIf="dataSource">

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{("Definition" | labelReplacement)| async}}s Number </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.position}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="weight">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Description of change </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div class="flex flex-col">
                                <span>{{row.weight}}</span>
                                <!-- <span class="mt-2">{{row.modifyDate | date:'medium' }}</span> -->
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="symbol">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Modified By </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div class="flex flex-col">
                                <span>{{row.symbol}}</span>
                                <span class="mt-2">{{row.modifiedate}}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        
                    <!-- Row shown when there is no matching data.-->
                    <!-- <tr class="mat-row flex text-center " *matNoDataRow>
                        <td class="mat-cell w-full m-2">No data matching the filter</td>
                    </tr> -->
        
                </mat-table>
        
                <!-- <mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator> -->
        
        
            </div>
        </div>
