<!--Link EO Menu -->
<ng-container *ngIf="!AddEditProcMenu">
    <!-- header starts here -->
    <div class="flex flex-row justify-between items-center px-12">
        <h1 class="text-xl font-medium text-gray-900">{{("Procedure" | labelReplacement)| async}}s</h1>
        <button type="button" (click)="flyPanelSrvc.close()">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>
            </svg>
        </button>
    </div>
    <!-- header ends here -->

    <!-- search starts here -->
    <div class="flex flex-row items-center pt-12 pb-2 border-b-0.8 mx-12 border-gray-one">
        <svg class="w-4 h-4 mr-2 stroke-current text-gray-four " fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
        <input class="text-sm flex-grow focus:outline-none" placeholder="Search" type="text"
            (keyup)="filterProcedures($event.target)">
    </div>
    <!-- search starts ends -->

    <!-- List section starts here -->
    <div class="">
        <!-- sub-header starts here -->
        <div class="flex flex-row pt-12 items-center px-12">
            <div class="flex-grow space-y-1">
                <div class="flex flex-row items-center text-gray-four">
                    <p class="text-xs mr-2">Sort by Category (A - Z)</p>
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7">
                        </path>
                    </svg>
                </div>
            </div>

            <div class="flex flex-row items-center text-green-one" *ngIf="procToLink.length==0">
                <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                <!-- <button (click)="openProcedurePanel('add')" class="font-medium text-xs xl:text-sm">Add new
                    Procedure</button> -->
            </div>



            <div class="flex flex-row space-x-4 text-sm " *ngIf="procToLink.length>0">
                <!-- <button class="btn-icon-secondary" (click)="LinkProcedureToTask()">
                    <svg class="feather feather-plus mr-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    Link to Task
                </button> -->
            </div>
        </div>
        <!-- sub-header ends here -->

        <app-data-loader *ngIf="IssuingAuthorityWithProc.length == 0"></app-data-loader>
        <!-- Main content starts here -->
        <div class="pt-6 items-center pb-3">
            <mat-accordion [multi]="true">
                <mat-expansion-panel *ngFor="let ia of IssuingAuthorityWithProc" [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p>{{ia.description}}</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- <ng-template matExpansionPanelContent>
                        <div class="text-sm" *ngFor="let proc of ia.procedures">
                            <div class="py-6 border-b-0.8 border-gray-one px-12 hover:bg-white-three">
                                <div class="flex flex-nowrap">
                                    <input type="checkbox" class="mr-3 bg-green-300"
                                        [checked]="procToLink.includes(proc.id)" (change)="AddToLinkList(proc.id)">
                                    <p>{{proc.title}}</p>
                                </div>
                                <div class="flex flex-row items-center justify-between pt-3 pl-6">
                                    <div class="flex flex-row items-center text-gray-four">
                                        <p class="text-xs">#{{proc.majorVersion+"."+proc.minorVersion}} </p>
                                    </div>

                                    <div class="flex flex-row items-center text-gray-four btn-group">
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <app-icon icon="more_vert"></app-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <label mat-menu-item (click)="openProcedurePanel('edit',proc)">Edit</label>
                                            <label mat-menu-item>View Procedures linked to task</label>
                                            <label mat-menu-item>View Procedures linked to ILA</label>
                                            <label mat-menu-item *ngIf="proc.active"
                                                (click)="modifyProcedureStatus(proc,'inactive')">Make Inactive</label>
                                            <label mat-menu-item *ngIf="!proc.active"
                                                (click)="modifyProcedureStatus(proc,'active')">Make Active</label>
                                            <label mat-menu-item
                                                (click)="modifyProcedureStatus(proc,'delete')">Delete</label>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </ng-template> -->
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <!-- Main content ends here -->
    </div>
    <!-- List section ends here -->

</ng-container>

<!-- Add EO Menu -->
<ng-container *ngIf="AddEditProcMenu">
    <!-- <form (ngSubmit)="addEditProcedure()" #form="ngForm">

        <div>

            <button class="flex flex-row items-center px-10" (click)="AddEditProcMenu=false">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="stroke-current text-gray-900 feather feather-x cursor-pointer hover:text-teal-400 h-6 w-6"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
                <h1 class="text-xl font-medium text-gray-900">{{ProcMenuMode=='add'? 'Add new ':'Edit '}} Procedure
                </h1>
            </button>
            <div class="flex flex-col pt-12 pb-2 px-12">
                <p class="text-sm font-medium text-gray-four">Procedure</p>
                <input [(ngModel)]="procObj.title" name="title"
                    class="text-sm flex-grow focus:outline-none text-gray-900 border-gray-one border-0.8 mt-2 px-4 pt-3 pb-7 rounded"
                    placeholder="Enter Procedure" type="text">
            </div>

            <div class="flex flex-col pt-12 pb-2 px-12">
                <p class="text-sm font-medium text-gray-four">Series</p>
                 <input [(ngModel)]="procObj.series" name="series"
                    class="text-sm flex-grow focus:outline-none text-gray-900 border-gray-one border-0.8 mt-2 px-4 pt-3 pb-7 rounded"
                    placeholder="Enter Series" type="text">
            </div>
            <div class="flex px-12 pt-12 flex-nowrap">
                <input type="checkbox" name="significant" [(ngModel)]="isSignificant">
                <p class="text-sm ml-2 font-medium text-gray-four">Significant</p>
            </div>
           
            <div class="">
                <div class="flex flex-col pt-12 px-12">
                    <div class="flex flex-row">
                        <div class="flex-grow space-y-1">
                            <div class="flex flex-row items-center text-gray-four">
                                <p class="text-xs mr-2">Issuing Authority</p>
                            </div>
                        </div>
                    </div>
                    <select name="procIA" id="procIA" [(ngModel)]="procObj.issuingAuthorityId"
                        class="text-sm flex-grow text-gray-900 border-gray-one border-0.8 mt-2 px-4 py-3 rounded focus:outline-none bg-white-one">
                        <option [value]="undefined">Select Issuing Authority</option>
                        <option [ngValue]="item.id" *ngFor="let item of IssuingAuthorityWithProc">
                            {{item.description}}
                        </option>

                    </select>

                </div>
                
                <div class="flex text-sm w-full justify-between px-12 py-6">
                    <button class="flex flex-row items-center" (click)="AddEditProcMenu=false">
                        <p class="text-gray-900 text-sm font-normal">Cancel</p>
                    </button>
                    <button type="submit" [disabled]="form.invalid"
                        class="flex flex-row text-sm font-medium text-green-one items-center border-2 border-green-one rounded px-4 py-2">
                        {{ProcMenuMode=='add'? 'Save ' :'Update '}} Procedure
                    </button>
                </div>
            </div>
            
        </div>

    </form> -->
</ng-container>