// .data-panel {
//     background: #F8F9F9;
//     border-radius: 8px;
//     width: 349px;
//     color: #000D09;
//     font-size: 16px;
//     font-weight: 500;
//     padding: 13px 27px;
//     line-height: 140%;
//     margin: 0 0 10px;
// }

.data-panel span, .data-panel-selected span {
    float: right;
    font-size: 36px;
}



.data-panel span {
    float: right;
    font-size: 20px;
}

// .data-panel-selected {
//   background: #5c9b31;
//   color: #fff;
//   border-radius: 8px;
//   width: 349px;
//   font-size: 16px;
//   font-weight: 500;
//   padding: 13px 27px;
//   line-height: 140%;
//   margin: 0 0 10px;
// }
