<div class="flex flex-column align-items-center">
  <form  [formGroup]="treeItemForm" style="width: 100%;">
  <app-label
    text="{{ inputTreeItem.label }}"
    class="text-gray-300 company-text"
  ></app-label>
  <div class="flex flex-col float-left mb-6 w-full">
    <mat-select #selectComponent
      placeholder="Select data to link to"
      class="appearance-none rounded border w-full px-4 py-2.5 mt-2"
      (selectionChange)="treeItemSelected($event)"
      (mousedown)="openLinkedDataOptions()"
    >
     <div *ngIf="inputTreeItem.searchable">
          <input  matInput class="pt-3 pb-3 pl-3" type="text" formControlName="searchTxt"
          (keyup)="getInputFreeItemSearch()" placeholder="Enter Text to Search">
          <app-button variant="text" class="ml-12 filter-icon" (clicked)="clearFilter()" icon="clear" iconPosition="right"></app-button>
     </div> 
      <mat-option
        *ngFor="let d of treeItemList"
        [value]="d.id"
        >{{ d.display }}</mat-option
      >
    </mat-select>
  </div>
  </form>
</div>

<app-tree-item-selector
  *ngIf="selectedTreeOption && selectedTreeOption.subTreeItem"
  [parentDataChangedEventEmitter]="selectedTreeOptionChanged"
  [inputTreeItem]="selectedTreeOption.subTreeItem"
  [handleTreeItemSelection]="handleTreeItemSelection"
></app-tree-item-selector>
