::ng-deep .mat-horizontal-stepper-header
{
    width:25%;
}
.toggleILA {
    outline: none;
    color: rgba(122, 128, 126, 1);
    font-weight: medium;
    border: 1px solid rgba(122, 128, 126, 0.2);
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    //width: 40%;

  }
  .toggleCalender {
      outline: none;
      color: rgba(122, 128, 126, 1);
      font-weight: medium;
      border: 1px solid rgba(122, 128, 126, 0.2);
      border-bottom-left-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
      //width: 40%;

    }

    th, td {
      padding: 15px;
      word-wrap: break-word;
    }
    table {
      border-collapse: collapse;
      table-layout: fixed;
      //width: 310px;
    }

    :host ::ng-deep .modifiedTextbox input {
      border: none !important;
      padding-top: 0rem !important;
      padding-bottom: 0rem !important;
      height:2rem;
      width: 5.6rem;
      margin-bottom: 0.5rem;
    }

    .float-container {
      border: 3px solid #fff;
      padding: 20px;
  }

  .float-child {
      width: 50%;
      float: left;
      padding: 75px  198px 46px;
  }

.activeButton{
  cursor: pointer;
}

.disabledButton{
  cursor:not-allowed;
}
.checkIcon{
  color:#5C9B31;
  transform: scale(0.7);
  font-weight: 700;
}

.btn-select{
  width:12%;
  float:right;
}

.btn{
  position: absolute;
  right: 16px;
  top: 0px;
  padding: 0;
  background: #fff;
}
.mat-icon{
  font-size: 18px;
}
