:host ::ng-deep .mat-row{
  vertical-align: top;
}

:host ::ng-deep .mat-cell{
  padding: 1rem 1rem 1rem 1rem;
  border:none;
}

.mat-header-cell{
  padding-top: 1rem;
}

:host ::ng-deep th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}

:host ::ng-deep th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}
