<div class="flex flex-row flex-wrap mt-3 px-12">
    <p class="font-bold text-lg">{{("Instructor" | labelReplacement)| async}}s Overview</p>
</div>
<div class="px-10 pb-12 flex flex-row">
    <app-data-loader *ngIf="isLoading"></app-data-loader>
    <ng-container *ngIf="!isLoading && instructorVM">
        <div class="container bg-white rounded m-3 pt-3 pl-3 shadow-sm w-fit mb-4">

            <div class="mb-4">Categories</div>
            <div class="flex flex-row ">
                <div class="flex flex-col ">
                    <span  (click)="instructorVM.iCategoryActive>0 && openFlyInPanelList(list,'Catactive')" [ngClass]="{'text-xl text-qtd font-bold cursor-pointer':instructorVM.iCategoryActive>0,'text-lg text-black':instructorVM.iCategoryActive==0}">
                        {{instructorVM.iCategoryActive | number : '2.'}}</span>
                    <p>Active</p>
                </div>
                <span class=" pl-3 pr-3"></span>
                <div class="flex flex-col">
                    <span (click)="instructorVM.iCategoryInactive>0 && openFlyInPanelList(list,'Catinactive')" [ngClass]="{'text-xl text-red-600 font-bold cursor-pointer':instructorVM.iCategoryInactive>0,'text-lg text-black':instructorVM.iCategoryInactive==0}">
                        {{instructorVM.iCategoryInactive | number : '2.'}}</span>
                    <p>Inactive</p>
                </div>
            </div>

        </div>

        <div class="container bg-white rounded m-3 pt-3 pl-3 shadow-sm w-fit mb-4">

            <div class="mb-4">{{("Instructor" | labelReplacement)| async}}s</div>
            <div class="flex flex-row">
                <div class="flex flex-col">
                    <span (click)="instructorVM.instructorActive>0 && openFlyInPanelList(list,'Insactive')" [ngClass]="{'text-xl text-qtd font-bold cursor-pointer':instructorVM.instructorActive>0,'text-lg text-black':instructorVM.instructorActive==0}" >
                        {{instructorVM.instructorActive | number : '2.'}}</span>
                    <p>Active</p>
                </div>
                <span class=" pl-3 pr-3"></span>
                <div class="flex flex-col">
                    <span (click)="instructorVM.instructorInactive>0 && openFlyInPanelList(list,'Insinactive')" [ngClass]="{'text-xl text-red-600 font-bold cursor-pointer':instructorVM.instructorInactive>0,'text-lg text-black':instructorVM.instructorInactive==0}">
                        {{instructorVM.instructorInactive | number : '2.'}}</span>
                    <p>Inactive</p>
                </div>
            </div>


        </div>
        <div class="container bg-white rounded m-3 pt-3 pl-3 shadow-sm mb-4 w-fit" style="width:50vw ;">

            <div class="mb-4">Total Number of {{("Instructor" | labelReplacement)| async}} Workbook Admins</div>
              <div class="flex flex-row">
                <div class="flex flex-col">
                    <span (click)="instructorVM.totalWorkbookAdmins>0 && openFlyInPanelList(list,'Workbook')" [ngClass]="{'text-xl text-qtd font-bold cursor-pointer':instructorVM.totalWorkbookAdmins>0,'text-lg text-black':instructorVM.totalWorkbookAdmins==0}">
                        {{instructorVM.totalWorkbookAdmins | number : '2.'}}</span>
                    <p>Active</p>
                </div>
            </div>
        </div>

       
      
    </ng-container>
    
</div>
<div class="flex flex-row flex-wrap px-12 justify-between">
    <p class="font-bold text-lg">Latest Activity</p>
    <app-button variant="text" text="View all history" (click)="openFlyInPanel(historyModal)"></app-button>
</div>

          <div class="px-12 pb-12 mt-5" *ngIf="dataSource">
            <div class="border-gray-one shadow-xs border-0.5 rounded mat-elevation-z8">
        
                <mat-table [dataSource]="dataSource" matSort *ngIf="dataSource">

                    <ng-container matColumnDef="num">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{("Instructor" | labelReplacement)| async}} Number </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.num}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="desc">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Description of change </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div class="flex flex-col">
                                <span>{{row.desc}}</span>
                                <!-- <span class="mt-2">{{row.modifyDate | date:'medium' }}</span> -->
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="modifyDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Modified By </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div class="flex flex-col">
                                <span>{{row.modifyBy}}</span>
                                <span class="mt-2">{{row.modifyDate | date:'medium' }}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        
                    <!-- Row shown when there is no matching data.-->
                    <tr class="mat-row flex text-center " *matNoDataRow>
                        <td class="mat-cell w-full m-2">No data matching the filter</td>
                    </tr>
        
                </mat-table>
        
                <!-- <mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons
                    aria-label="Select page of instructors">
                </mat-paginator> -->
        
        
            </div>
        </div>

        <ng-template #historyModal>
           <app-fly-panel-view-instructor-history (closed)="flyPanelService.close()"></app-fly-panel-view-instructor-history>
        </ng-template>

        <ng-template #list>
            <app-fly-panel-instructors-list [moduleName]="moduleName"></app-fly-panel-instructors-list>
        </ng-template>
