:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled,
:host ::ng-deep .mat-form-field-outline {
  opacity: 1;
}

:host ::ng-deep .search-input-field.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

:host ::ng-deep .time-input .mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 0.775em 0.5em 0.1em;
}

:host ::ng-deep .time-input .mat-form-field-appearance-outline .mat-form-field-flex{
  margin-top: 0px;
}

:host ::ng-deep .mat-cell{
  padding: 1.2rem 0rem 1rem 0rem;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.customBorder{
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
}

:host ::ng-deep .mat-horizontal-content-container {
  overflow: hidden;
  padding:0px 0px 0px 0px;
}
