:host ::ng-deep .mat-selected {
  background-color: #5c9b31 !important;
  color: white !important;
}

:host ::ng-deep .modifiedTextbox input {
  border: none !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  height:2rem;
  width: 7.6rem;
  margin-bottom: 0.5rem;
}
.sub-heading{
  margin-top: 0.6rem;
}

:host::ng-deep button.disabled-pointer:disabled{
  cursor: default;
  opacity: 0.65 !important;
  color: #fff;
  background-color: grey;
  border-color: grey;
}