<div *ngIf="isLoading">
    <app-data-loader></app-data-loader>
</div>
<div *ngIf="sda !== undefined" class="ml-4 mr-4">
    <div class="flex flex-row flex-wrap mt-3 justify-between border-b pb-3">
        <div class="flex flex-col">
            <!-- <p class="text-xs text-gray-four">PowerCo Procedures</p> -->
            <p class="font-bold text-lg">{{letterAndNum+"."+sda.subNumber+ " " +sda.title}}</p>
        </div>
        <div class="flex flex-row  items-center text-gray-four btn-group">
            <div class="cursor-pointer bg-gray-200 p-2 rounded">
                <label mat-button [matMenuTriggerFor]="menu" class="mb-0">
                    <span *ngIf="isActive" class="font-bold">
                        <span style="color:green" class="mr-1">●</span>
                        Active
                    </span>
                    <span *ngIf="!isActive" class="font-bold">
                        <span style="color:red" class="mr-1">●</span>
                        Inactive
                    </span>

                </label>
                <app-icon icon="expand_more" [matMenuTriggerFor]="menu"></app-icon>
            </div>
            <mat-menu #menu="matMenu">
                <label  (click)="openActiveDialog(activeInactive)" mat-menu-item *ngIf="!isActive">
                    <span style="color:green" class="mr-1">●</span>Make
                    Active</label>

                    <div class="flex flex-row">
                        <div>
                            <label [disabled]="hasLinks" (click)="openActiveDialog(activeInactive)" mat-menu-item *ngIf="isActive">
                                <span style="color:red" class="mr-1">●</span> Make
                                Inactive
                            </label>
                        </div>
                        <div *ngIf="hasLinks" style="padding-top: 0.71rem;">
                            <app-icon icon="help_outline" [matTooltip]="hasLinks ? 'Sub-Duty Area will be made inactive when all linked Tasks are made inactive.':''">
                            </app-icon>
                        </div>
                    </div>

            </mat-menu>

            <app-button ButtonType="icon" class="text-gray-four" icon="more_horiz" [matMenuTriggerFor]="dropmenu">
            </app-button>
            <mat-menu #dropmenu="matMenu">
                <label [disabled]="!sda.active || !dutyAreaDisable" (click)="openEditOrCopy(editAndCopy,false)" mat-menu-item>Edit</label>
                <label [disabled]="!sda.active || !dutyAreaDisable" (click)="openEditOrCopy(editAndCopy,true)" mat-menu-item>Copy</label>
                <label [disabled]="hasLinks" (click)="openDeleteDialog(deleteDialog)" mat-menu-item>Delete</label>
            </mat-menu>
        </div>
    </div>

    <div class="flex flex-row flex-wrap mt-3 justify-between border-b pb-3">
        <p class="text-xm">
            {{sda.description}}
        </p>
    </div>


</div>

<ng-template #activeInactive>
    <app-qtd-dialogue [header]="dialogTitle" [description]="dialogDesc" cancelText="No" confirmText="Yes"
        [showEffectiveDateAndReason]="true" (canceled)="dialog.closeAll()" (confirmed)="toggleActive($event)">
    </app-qtd-dialogue>
</ng-template>

<ng-template #deleteDialog>
    <app-qtd-dialogue [header]="dialogTitle" [description]="dialogDesc" cancelText="No" confirmText="Yes"
        [isQuestion] = "false" [showEffectiveDateAndReason]="true" (canceled)="dialog.closeAll()" (confirmed)="deleteData($event)">
    </app-qtd-dialogue>
</ng-template>

<ng-template #editAndCopy>
    <div class="px-12 py-12">
        <app-flypanel-add-subdutyarea (closed)="flyPanelService.close()" [oldSDA]="sda" [isCopy]="makeCopy"
            (refresh)="getSubDutyArea();dataBroadcastService.updateMyDataNavBar.next(null)"></app-flypanel-add-subdutyarea>

    </div>
</ng-template>
