<mat-sidenav-container>
    <mat-sidenav align="start" opened mode="side" style="width: 350px;">
        <app-nav-bar-left>
            <app-rr-nav-bar></app-rr-nav-bar>
        </app-nav-bar-left>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header [toggleMenuIcon]="false" breadcrumbs="{{('My Data' | labelReplacement)| async}} / {{('Regulatory Requirement' | labelReplacement)| async}}s"></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>