.nav-wrap {
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 24px;
    flex-wrap: wrap;
    box-shadow: 0 9px 10px #0000000a;
}

.back-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgba(92, 155, 49, 0.11);
    box-shadow: 0px 0px 30px rgb(122 128 126 / 10%);
    border-radius: 100px;
    text-align: center;
    line-height: 40px;
    color: #5C9B31;


}
.back-icon mat-icon{
    font-size: 16px;
    width: 10px;
    line-height: inherit;
}

.d-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;

    letter-spacing: 0.15px;

    color: #000D09;
    padding: 0 0 0 24px;
}


.btn {
    font-weight: 500;
    padding: 11px 24px;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 157%;
    border-radius: 4px;
}

.btn-outline-secondary {
    color: #5C9B31;
    border-color: #5C9B31;
}

.btn-success {
    background-color: #5C9B31;
    border-color: #5C9B31;
    margin: 0 0 0 8px;
}