<div class="py-4 items-center bg-white">
  <img src="./assets/img/qtd.png" alt="QTS" class="h-11 mx-auto flex" />
</div>
<div class="container">
  <main role="main" class="pb-3">
    <div class="relative sm:w-2/6 mx-auto" style="padding-top:2rem">
      <router-outlet></router-outlet>

      <!-- privacy terms starts here-->
      <div class="mt-6 text-xs text-gray-500 text-center">
        <a href="">Privacy and terms</a>
      </div>
      <!-- privacy and terms ends here -->
    </div>
  </main>
</div>