.customcolorgreen{
  background-color: #f1fffb;
  color:#1ecb99;
}

.customcolororange{
  background-color: #fffcf4;
  color: #ffcf5c;
}

.customcolorBlue{
  background-color: #f5faff;
  color: #0f8cfa;
}

.customcolorlightGreen{
  background-color: #f7faf4;
  color: #5c9b31
}
