<div class="flex flex-col ">
  <mat-toolbar class="h-28 bg-white app-toolbar-sticky">
    <!-- <app-button type="button" ButtonType='icon' icon='menu' (clicked)="toggleMainMenu()">
        </app-button> -->
    <app-button type="button" ButtonType='icon' icon='arrow_back' (clicked)="goBack()">
    </app-button>

    <h1 class="flex-auto font-medium text-xl" id="title" translate>Bulk Edit {{moduleName | dynamicLabelReplacement| async }}</h1>
    <app-button type="button" (clicked)="goBack()" text="Close" color="grey" size="sm" class="mr-2">
    </app-button>
    <app-button type="button" *ngIf="stepper.selectedIndex ===0 || stepper.selectedIndex===1" (clicked)="continueClicked()"
      size="sm" style="color: black !important;" text="Continue"
      [disabled]="linkedIds.length == 0 || !actionId"
      >
    </app-button>
    <app-button *ngIf="stepper.selectedIndex===2" [spinner]="showSpinner"
      [disabled]="linkedIds.length == 0 || !actionId ||  stepHistoryForm.invalid || showSpinner"
      (clicked)="OnBulkEdit()" size="sm" style="color: black !important;" text="Save">
    </app-button>
  </mat-toolbar>
  <ng-container>
    <mat-stepper labelPosition="bottom" (selectionChange)="stepChanged($event)" [linear]="true" #stepper (selectionChange)="selectedChanged($event)"
      [orientation]="(stepperOrientation | async)!" class="px-10">
      <!-- Change edit icon -->
      <ng-template matStepperIcon="edit">
        <app-icon icon="done"></app-icon>
      </ng-template>
      <mat-step label="Select {{moduleName | dynamicLabelReplacement| async}}" [completed]="linkedIds.length > 0">
        <ng-container>
          <div class="flex flex-row items-center border-b-0.8 border-gray-one p-2 ">
            <div class="flex flex-grow ">
              <app-icon icon="search"></app-icon>
              <input class="text-sm flex-grow px-2" placeholder="Search" type="text"
                (input)="filterData(dataSource.data,$event)" [(ngModel)]="filterString">
            </div>
          </div>
          <div class="flex flex-col flex-wrap bg-gray-one mb-3 mt-3  px-3 py-3 rounded" *ngIf="linkedIds.length > 0">
            <div class="flex flex-row w-full justify-between mb-3">
              <p class="text-xs text-gray-four pt-2">
                {{linkedIds.length}} {{moduleName  | dynamicLabelReplacement| async }} selected
              </p>



              <mat-select placeholder="Select Edit Option" style="margin-right:0px; width:20rem;" [(ngModel)]="actionId"
                class="appearance-none rounded border w-full px-4 py-2.5 mt-2 align-item-end bg-white">
                <mat-option *ngFor="let d of optionsList" [value]="d.id">
                  {{d.description}}
                </mat-option>
              </mat-select>
            </div>
          </div>

          <div class="flex flex-row px-1 mt-4 text-xs text-gray-500">
            <div class="cursor-pointer">
              <span> Showing: {{showActive ? 'Active ' : "In-active"}}
                <label mat-button [matMenuTriggerFor]="menu" class="mb-0">
                  {{moduleName  | dynamicLabelReplacement| async}}
                </label>
                <app-icon icon="expand_more" [matMenuTriggerFor]="menu"></app-icon>
              </span>

              <mat-menu #menu="matMenu">
                <label mat-menu-item *ngIf="!showActive" (click)="filterActive(true)">
                  Active</label>

                <label mat-menu-item *ngIf="showActive" (click)="filterActive(false)">
                  Inactive</label>
              </mat-menu>
            </div>

          </div>

          <app-spinner *ngIf="showSpinner"></app-spinner>
          <ng-container *ngIf="dataSource.data.length === 0">
            <div class="mt-4"> No Data Found</div>
          </ng-container>
          <ng-container *ngIf="dataSource.data.length > 0">

            <div class="flex flex-col px-1">
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="qtd-tree">
                <!-- This is the tree node template for leaf nodes -->
                <!-- There is inline padding applied to this node using styles.
            This padding value depends on the mat-icon-button width. -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                    <ng-container *ngIf="node.checkbox">
                        <mat-checkbox (change)="onCheckChange($event,node)" [checked]="node.selected"></mat-checkbox>
                        <span class="ml-1 pb-1">{{node.description}}</span>
                        <span *ngIf="node.shouldSelect !== undefined && node.shouldSelect !== null && node.shouldSelect !== 'Other'" class="ml-1 qtd-meta-box p-1 font-bold">{{node.shouldSelect|uppercase}}</span>
                    </ng-container>
                   <!--  <ng-container *ngIf="!node.checkbox">
                        <app-icon style="color: rgb(92, 155, 49);" icon="link"></app-icon>&nbsp;<span
                            style="color: rgb(92, 155, 49);">{{node.number}} {{node.description}}</span> 2
                    </ng-container> -->
                    <!-- <ng-container *ngIf="!node.checkbox && filtered(node) && node.HasChild">
                <span>{{node.description}}</span>
              </ng-container> -->
                </mat-tree-node>

                <!-- This is the tree node template for expandable nodes -->
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">

                  <div class="mat-tree-node" >
                    <button style="outline:none;" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.description">
                      <app-icon [icon]="treeControl.isExpanded(node) ? 'expand_more' : 'expand_less'">
                      </app-icon>
                    </button>

                    <mat-checkbox [checked]="node.selected" [indeterminate]="node.indeterminate && !node.selected"
                      (change)="itemToggle($event.checked,node)"></mat-checkbox>
                      <span class="ml-1 pb-1">{{node.description}}</span>
                  </div>

                  <div *ngIf="treeControl.isExpanded(node)" role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </div>
                </mat-nested-tree-node>
            </mat-tree>

            </div>
          </ng-container>

        </ng-container>
      </mat-step>
      <mat-step label="History" [stepControl]="stepHistoryForm">
        <form class="flex flex-col" [formGroup]="stepHistoryForm">
          <h2 class="border-b p-2">History</h2>
          <div class="flex flex-row px-2">
            <div class="flex flex-col float-left pr-4 mb-6" style="width: 25vw;">
              <app-label [for]="'EffectiveDate'" text="Effective Date"></app-label>
              <app-date formControlName="EffectiveDate"></app-date>
              <app-input-error *ngIf="stepHistoryForm.get('EffectiveDate')?.invalid" text="Required"></app-input-error>

            </div>
          </div>

          <div class="flex flex-row px-2 ">
            <div class="flex flex-col float-left pr-4 mb-6" style="width: 50vw;">
              <app-label [for]="'reason'" text="Reason for Revision"></app-label>
              <app-textarea [value]="this.stepHistoryForm.get('reason')?.value || ''" formControlName="reason">
              </app-textarea>
              <app-input-error *ngIf="stepHistoryForm.get('reason')?.invalid" text="Required"></app-input-error>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step label="Review & Save" [stepControl]="stepHistoryForm">
        <form class="flex flex-col" [formGroup]="stepHistoryForm">
          <p class="text-small">By selecting Save, you are changing the status for the following {{moduleName | dynamicLabelReplacement | async}} to
            {{actionId === 1 ? (showActive ? "Inactive":"Active"):"Deleted"}}.<br />
            Review the table below to confirm whether the actions can be completed.</p>
          <mat-table [dataSource]="DataSource" matSort class="table-bordered ">
            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef> #
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row?.number}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef> Description
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{row.description}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>

            <!-- Row shown when there is no matching data.-->
            <tr class="mat-row flex text-center " *matNoDataRow>
              <td class="mat-cell w-full m-2">No data to display</td>
            </tr>

          </mat-table>

          <p class="text-small mt-3">
            These updates will be saved with an effective date <span class="font-bold"> {{datePipe.transform(stepHistoryForm.get("EffectiveDate")?.value, 'MM-dd-yyyy' )}} </span>.
          </p>
        </form>

      </mat-step>

    </mat-stepper>
  </ng-container>
</div>
