<div class="flex flex-col">

    <div class="flex flex-row justify-between items-center px-3 mt-2">
        <p class="text-xl font-bold text-gray-900">Add New Category</p>
        <app-button (clicked)="closed.emit('fp-add-cat-closed')" ButtonType='icon' icon="close">
        </app-button>
    </div>

    <form class="flex flex-col" [formGroup]="categoryForm">
        <div class="flex flex-row pr-4 mb-6 mt-3 justify-between">
            <div class="flex flex-col">
            <app-label [for]="'eosymbol'" text="{{('Enabling Objective' | labelReplacement)| async}} Symbol"></app-label>
            <app-textbox formControlName="eosymbol" [disabled]="true" 
                [(ngModel)]="EoSymbol"></app-textbox>
            <app-input-error *ngIf="categoryForm.get('eosymbol')?.invalid" text="Eo Symbol Is Required">
            </app-input-error>
        </div>
        <div class="flex flex-col">
            <app-label [for]="'number'" text="Category Number"></app-label>
            <app-textbox formControlName="number" [disabled]="true" 
                [(ngModel)]="CatNumber"></app-textbox>
            <app-input-error *ngIf="categoryForm.get('number')?.invalid" text="Number Is Required">
            </app-input-error>
        </div>
    </div>
        <div class="mt-3">
            <app-label [for]="'title'" text="Category Title"></app-label>
            <app-textbox formControlName="title" placeholder="Title"></app-textbox>
            <app-input-error *ngIf="categoryForm.get('title')?.invalid" text="Title Is Required">
            </app-input-error>
        </div>
        <div class="mt-3">
            <app-label [for]="'desc'" text="Category Description"></app-label>
            <app-textarea formControlName="desc" placeholder="Please enter description here">
            </app-textarea>
            <app-input-error *ngIf="categoryForm.get('desc')?.invalid" text="Description is Required">
            </app-input-error>
        </div>
        <div class="mt-3">
            <app-label [for]="'effectiveDate'" text="Effective Date"></app-label>
            <app-date formControlName="effectiveDate"></app-date>
        </div>
        <div class="mt-3">
            <app-label [for]="'reason'" text="Reason for Revision"></app-label>
            <app-textarea formControlName="reason" placeholder="Please enter Reasons for Revision here">
            </app-textarea>
        </div>
        <div class="flex flex-row flex-grow justify-between pt-12">
            <mat-checkbox formControlName="AddAnother" name="AddAnother">Add another Category</mat-checkbox>
            <app-button [disabled]="categoryForm.invalid" (clicked)="saveCategory()" text="Save"
                size="sm"></app-button>
        </div>
    </form>
</div>