.conclusion-label{
    font-size: large;
    font-weight: bold;
}

.approval-date{
    width: 50%;
}

.label{
    font-size: medium;
    font-weight: bold;
}
.signature-container{
    width: 50%;
}
.training-container{
    width: 70%;
}

.step-controls-section {
    padding: 1.5rem 2rem;
    flex: 1 1 70%;
    border-radius: 0.25rem;
    border: 0.5px solid #e1e5e4;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(122, 128, 126, 0.1);
}