

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}
.float-child p {
    color: #7A807E;
}
h3{
    color: #7A807E;
}

.proc-label{
    font-size: 18px;
}
.proc-para{
    font-size: 16px;
}