<ng-container *ngIf="openPanel === 'main'">
    <div class="flex flex-row justify-between items-center px-12 mt-5">
        <p class="text-xl font-bold text-gray-900">Link {{("Task" | labelReplacement)| async}} Qualification Evaluators</p>
        <app-button [disabled]="showSpinner" (click)="closeProvider()" ButtonType="icon" icon="close"></app-button>
    </div>

    <div class="flex flex-col px-12 pb-12 mt-12">
        <!-- search and buttons starts -->
        <div class="
          flex flex-row
          items-center
          bg-white-one
          rounded-t-md
          py-4
          px-6
          space-x-2
          border-b-0.8 border-gray-one
        ">
            <svg class="flex-none w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
                <input (keyup)="searchevaluator($event)" class="text-sm flex-grow focus:outline-none" placeholder="Search" type="text" [value] ="searchString" />
        </div>

        <div class="rounded-t-md py-4 space-x-2" *ngIf="selection.selected.length > 0">
            <mat-toolbar class="h-28 app-toolbar-sticky w-full">
                <div class="flex flex-row items-center space-x-4 w-full justify-between">
                    <span class="text-sm">
                        {{ selection.selected.length }} evaluators has been selected
                    </span>
                    <div class="flex flex-row space-x-4 m-3 text-sm float-right">
                        <!-- <app-button color="secondary" text="Remove" size="sm"> </app-button> -->
                        <app-button color="secondary" [text]="linkText" [disabled]="spinner" [spinner]="spinner"
                            (clicked)="enrollStudents()" size="sm" icon="link" iconPosition="left">
                        </app-button>
                    </div>
                </div>
            </mat-toolbar>
        </div>
        <!-- search and button ends -->
        <app-data-loader *ngIf="!employeeData"></app-data-loader>
        <div *ngIf="employeeData" class="flex flex-col">
            <div class="flex flex-row my-4">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" class="mr-3"></mat-checkbox>
                <span class="font-bold text-gray-500">Showing Active Evaluators</span>
            </div>
            <div class="flex" *ngFor="let emp of employeeData">
                <div *ngIf="!empIds.includes(emp.id)" class="flex flex-row" style="align-items:center;">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(emp) : null"
                        [checked]="selection.isSelected(emp)"></mat-checkbox>
                    <img style="border-radius: 50%; width: 50px; height: 50px" class="img-fluid mr-2 mt-2 ml-2 mb-2"
                        [src]="emp.person.image" onerror="this.src='assets/img/ImageNotFound.jpg'" />
                    <div class="flex flex-col">
                        <span>{{ emp.person.firstName + ' ' + emp.person.lastName }}</span>
                        <span>{{ emp.person.username }}</span>
                    </div>
                </div>

                <div *ngIf="empIds.includes(emp.id)" class="flex flex-row justify-between w-full"
                    style="align-items: center;">
                    <div class="flex flex-row" style="align-items:center;">
                        <app-icon icon="link" class="linkText"></app-icon>
                        <img style="border-radius: 50%; width: 50px; height: 50px" class="img-fluid mr-2 mt-2 ml-2 mb-2"
                            [src]="emp.person.image" onerror="this.src='assets/img/ImageNotFound.jpg'" />
                        <div class="flex flex-col">
                            <span class="linkText">{{ emp.person.firstName + ' ' + emp.person.lastName }}</span>
                            <span class="linkText">{{ emp.person.username }}</span>
                        </div>
                    </div>
                    <div (click)="removeEMPDialog(deleteDialog,emp)" style="align-items: baseline;"
                        class="flex flex-row cursor-pointer">
                        <app-icon class="linkText" icon="delete"></app-icon>
                        <span class="linkText text-xs">Remove</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- table starts -->
        <!-- <div class="flex-row bg-white-one rounded-b-md m-2 ">
              <div class="float-container">
  
                  <div class="float-child">
                    <div class="green">
                      <mat-table [dataSource]="dataSource" >
                          <ng-container matColumnDef="select">
                              <mat-header-cell *matHeaderCellDef>
                                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                                  </mat-checkbox>
  
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row">
                                  <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                                  </mat-checkbox>
                              </mat-cell>
                          </ng-container>
  
                          <ng-container matColumnDef="image">
                              <mat-header-cell *matHeaderCellDef > </mat-header-cell>
                              <mat-cell *matCellDef="let row"> <img style="border-radius: 50%;width: 50px;height: 50px;" class="img-fluid mr-2 mt-2 ml-2 mb-2" [src]="row.employeeImage"
                                  onerror="this.src='assets/img/ImageNotFound.jpg'"> </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="employees">
                              <mat-header-cell *matHeaderCellDef>All Employees </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                <div class="flex flex-col">
                                  <span>{{element.employeeName}}</span>
                                  <span>{{element.employeeEmail}}</span>
                                </div>
                              </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns" width ="20%"
                              [style.border-bottom]="'0px solid #fafafa'"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;" width ="20%" [style.border-bottom]="'0px solid #fafafa'">
                          </mat-row>
                      </mat-table>
                    </div>
                  </div>
  
                  <div class="float-child">
                    <div class="blue">
                        <app-button color="secondary"  (click)="openPanel = 'assign';" text="Assign Score/Grade" size="sm"
                      >
                  </app-button></div>
                  </div>
  
                </div>
  
  
  
          </div> -->
        <!-- table ends -->
    </div>
</ng-container>





<ng-template #deleteDialog>
    <app-qtd-dialogue [header]="'Remove ' + (('Employee' | labelReplacement)| async)" [description]="description" [confirmText]="'Yes'" [cancelText]="'No'"
        (canceled)="dialog.closeAll()" [showEffectiveDateAndReason]="false"
        (confirmed)="removeEMP()"></app-qtd-dialogue>
</ng-template>