.mainGrid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: column;
  gap:1.5rem;
  margin-top: 2rem;
}

.mainBorder{
  border-right: 2px #e8e8e8 solid;
}

.bottomBorder{
  border-bottom: 1px #e8e8e8 solid;
}

.circularBorder{
  border: 2px solid gray;
  border-radius: 16px;
}

ul{
  list-style: disc;
}

ol{
  list-style:decimal;
}

.mat-column-order,
.mat-column-number,
.mat-column-button{
  flex: 0 0 15%;
}

.mat-column-answer,
.mat-column-question{
  flex: 0 0 30%;
}

.mat-column-description{
  flex: 0 0 60%;
}

// mat-cell, mat-header-cell {
//   text-align: center;
//   justify-content:center;
// }

span p{
  margin:0px !important;
}


:host ::ng-deep p img{
  width:50%;
}
