table {
    width: 100%;
  }
  // mat-header-cell, mat-cell {
  //   justify-content: center;
  // }
  ::ng-deep .mat-horizontal-stepper-header
{
    width:50%;
}

:host ::ng-deep .time-input .mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 0.775em 0.5em 0.1em;
}

:host ::ng-deep .time-input .mat-form-field-appearance-outline .mat-form-field-flex{
  margin-top: 0px;
}