<div class="flex flex-row flex-wrap mt-3 justify-between">
    <div class="flex flex-col">
        <p class="font-bold text-lg">Linkages: SQs</p>
        <p class="text-xs text-gray-four">{{enablingObjectives?.length}} SQs linked to selected {{("Position" | labelReplacement)| async}}s</p>
    </div>
    <app-button  [disabled]="!isActive" variant="text" icon="link" iconPosition="left" style="cursor: pointer!important" text="Link SQs"
        (clicked)="openFlypanel(positionsskasLink)">
    </app-button>
</div>

<app-data-loader *ngIf="!DataSource"></app-data-loader>
<div class="shadow-md" *ngIf="DataSource">
  <div class="flex flex-row flex-wrap bg-gray-one px-2 py-2 justify-between mb-3 mt-3  px-3 py-3 rounded"
      *ngIf="unlinkIds.length > 0">
      <p class="text-xs text-gray-four pt-2">{{unlinkIds.length}} SQs selected</p>
      <app-button [disabled]="!isActive" icon="link_off" iconPosition="left" size="sm" color="secondary" text="Unlink SQs"
          (clicked)="unlinkItemsModal(unlinkModal)">
      </app-button>
  </div>
  <mat-table [dataSource]="DataSource" matSort class="table-bordered " (matSortChange)="sortData($event)">
      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>
              <mat-checkbox [disabled]="!isActive" (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <mat-checkbox [disabled]="!isActive" (click)="$event.stopPropagation()" (change)="$event ? selectrow(row) : null"
                  [checked]="selection.isSelected(row)">
              </mat-checkbox>
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> SQ Number
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [class.inActiveItem]="!row.active"> {{row.number}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Description
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [class.inActiveItem]="!row.active">
              {{row.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="linkageCount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> # of linkages
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [class.inActiveItem]="!row.active">
              <!-- <label (clicked)="title=row.description;eoId=row.id;openFlypanel(linkedFlyPanel)">
             
                {{row.linkCount}}
              </label> -->
              <app-button class="ml-2" variant="text" [text]="row.linkCount" (clicked)="title=row.description;eoId=row.id;openFlypanel(linkedFlyPanel)">
            </app-button>
              <app-button [disabled]="!isActive" ButtonType="icon" icon="link_off" style="color:lightgray"
                  (clicked)="unlinkItemsModal(unlinkModal,row.id)">
              </app-button>
          </mat-cell>
      </ng-container>


      <ng-container>
          <mat-header-cell *matHeaderCellDef mat-sort-header>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" matTooltip="Unlink SQs">
              <app-icon icon="link_off"></app-icon>
          </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>

      <!-- Row shown when there is no matching data.-->
      <tr class="mat-row flex text-center " *matNoDataRow>
          <td class="mat-cell w-full m-2 pt-1">No data to display</td>
      </tr>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
  <ng-template #positionsskasLink>
   <!-- <app-fly-panel-link-position-task (closed)="flypanelSrvc.close()"></app-fly-panel-link-position-task> -->
   <!-- <app-fly-panel-add-ska (closed)="flypanelSrvc.close()"></app-fly-panel-add-ska> -->
   <app-fly-panel-link-position-skas [alreadyLinked]="linkedEos" (refresh)="refreshData()"  (closed)="flypanelSrvc.close()"></app-fly-panel-link-position-skas>
</ng-template>

<ng-template #unlinkModal>
  <app-qtd-dialogue header="Unlink SQ(s)" [description]="unlinkDescription" cancelText="No" confirmText="Yes"
      [showEffectiveDateAndReason]="true" (canceled)="dialog.closeAll()"  (confirmed)="getData($event)">
    
  </app-qtd-dialogue>
</ng-template>

<ng-template #linkedFlyPanel>
    <!-- <app-fly-panel-position-linked [EOID]="eoId" (closed)="flypanelSrvc.close()"></app-fly-panel-position-linked> -->
    <app-fly-panel-linked-positions  [Title]="title" [Id]="eoId" selectedType="SQ"
    (closed)="flypanelSrvc.close()"></app-fly-panel-linked-positions>
</ng-template>