<h2 mat-dialog-title translate>{{mode == 'add'?'Add':'Edit'}} Instance</h2>
<form [formGroup]="Form" autocomplete="on" (ngSubmit)="addUpdateInstance()" class="block text-sm">
    <mat-dialog-content class="mat-typography">


        <div class="flex flex-col">
            <label translate>L.InstanceName</label>
            <app-textbox name="name" formControlName="name" placeholder="Client Name"></app-textbox>
            <small class="text-danger"
                *ngIf="Form.get('name')?.dirty && Form.get('name')?.hasError('required')">Instance Name is
                Required</small>
        </div>
        <ng-container *ngIf="mode=='add'">
            <div class="flex flex-row mt-2">
                <label translate>L.CreateDatabase</label>
                <input type="checkbox" name="createDb" formControlName="createDatabase" class="mt-1 ml-3">
            </div>
        </ng-container>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <app-button type="button" text="Cancel" color="secondary" size="sm" class="mr-2" mat-dialog-close></app-button>
        <app-button type="submit" size="sm" [spinner]="processing" [disabled]="Form.invalid || processing" cdkFocusInitial [text]="mode ==
                'add'?'Add':'Update'">
        </app-button>
    </mat-dialog-actions>
</form>