<app-header title="Simulator Scenarios" [canGoBack]="false"></app-header>
<div *ngIf="isOverviewLoading" class="overview-spinner">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!isOverviewLoading">
  <div class="px-10 pb-3 flex flex-row">
    <div class="container bg-white rounded m-3 py-3 pl-3 shadow-sm" style="cursor: pointer" (click)="filterByTilesClick('Active')">
      <div class="d-flex align-items-center gap-2">
        <div>
          <p class="card-heading">Active Simulator Scenarios</p>
            <p class="status">
              {{ getActiveScenariosCount(true) }}
            </p>
        </div>
      </div>
    </div>

    <div class="container bg-white rounded m-3 py-3 pl-3 shadow-sm" style="cursor: pointer" (click)="filterByTilesClick('Inactive')">
      <div class="d-flex align-items-center gap-2">
        <div>
          <p class="card-heading">Inactive Simulator Scenarios</p>
            <p class="status">
              {{ getActiveScenariosCount(false) }}
            </p>
        </div>
      </div>
    </div>

    <div class="container bg-white rounded m-3 py-3 pl-3 shadow-sm" style="cursor: pointer" (click)="filterByTilesClick('ilaLinked')">
      <div class="d-flex align-items-center gap-2">
        <div>
          <p class="card-heading">Linked to {{ "ILA" | labelReplacement | async }}</p>
            <p class="status">
              {{ getLinkedILAScenariosCount() }}
            </p>
        </div>
      </div>
    </div>
    <div class="container bg-white rounded m-3 py-3 pl-3 shadow-sm" style="cursor: pointer" (click)="filterByTilesClick('ilaUnlinked')">
      <div class="d-flex align-items-center gap-2">
        <div>
          <p class="card-heading">Not Linked to {{ "ILA" | labelReplacement | async }}</p>
          <div >
            <p class="status">
              {{ getUnlinkedILAScenariosCount() }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container bg-white rounded m-3 py-3 pl-3 shadow-sm" style="cursor: pointer" (click)="filterByTilesClick('Published')">
      <div class="d-flex align-items-center gap-2">
        <div>
          <p class="card-heading">Published</p>
            <p class="status">
              {{ getPublishedScenariosCount() }}
            </p>
        </div>
      </div>
    </div>
    <div class="container bg-white rounded m-3 py-3 pl-3 shadow-sm" style="cursor: pointer" (click)="filterByTilesClick('Draft')">
      <div class="d-flex align-items-center gap-2">
        <div>
          <p class="card-heading">In Draft Mode</p>
            <p class="status">
              {{ getDraftScenariosCount() }}
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="px-10">
    <div class="bg-white rounded m-3 py-3 pl-3 shadow-sm">
      <section class="panel-section">
        <div
          class="
            flex flex-row
            bg-white-one
            rounded-t-md
            py-2.5
            px-6
            space-x-2
            border-b-0.8 border-gray-one
            w-full
          "
        >
          <div class="flex flex-grow keyword-input">
            <svg
              class="flex-none w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              ></path>
            </svg>
            <input
              class="text-sm flex-grow focus:outline-none"
              placeholder="Enter Simulator Title or {{
                'ILA' | labelReplacement | async
              }} name to search"
              type="text"
              (keyup)="searchUpdate($event)"
              [value]="searchText"
            />
          </div>
          <div class="flex flex-row space-x-4 text-sm">
            <div class="dropdown">
              <app-button
                color="secondary"
                text="Filter"
                size="sm"
                icon="filter_alt"
                iconPosition="left"
                (click)="openFlyInPanel(filterSimScenario)"
              >
              </app-button>
            </div>
            <app-button
              text="Add New"
              icon="add"
              iconPosition="left"
              size="sm"
              (click)="openScenirosWizard()"
            >
            </app-button>
          </div>
        </div>

        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="CheckBox">
            <mat-header-cell *matHeaderCellDef style="max-width: 100px">
              <mat-checkbox></mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" style="max-width: 100px">
              <mat-checkbox></mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="text-gray-400 text-sm font-weight-normal">
                Simulator Title
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row?.title }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="ilAs">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="text-gray-400 text-sm font-weight-normal">
                {{ "ILA" | labelReplacement | async }}s
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row?.ilAs }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="difficulty">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="text-gray-400 text-sm font-weight-normal">
                Difficulty
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{
              row?.difficulty === "1"
                ? "High"
                : row?.difficulty === "2"
                ? "Medium"
                : row?.difficulty === "3"
                ? "Low"
                : ""
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="positions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="text-gray-400 text-sm font-weight-normal">
                {{ "Position" | labelReplacement | async }}s
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row?.positions }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="text-gray-400 text-sm font-weight-normal">Status</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span
                class="status-badge"
                [ngClass]="{
                  publish: row.status === '2',
                  draft: row.status === '1'
                }"
              >
                {{
                  row.status === "1"
                    ? "Draft"
                    : row.status === "2"
                    ? "Published"
                    : ""
                }}
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="text-gray-400 text-sm font-weight-normal">
                Active Status
              </div>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row"
              class="
                m-0
                rounded
                flex flex-row
                text-center text-xs text-green-700
                font-medium
              "
            >
              <span
                [ngClass]="{
                  customcolorgreen: row.active === true,
                  'bg-gray-100': row.active !== true
                }"
                class="status-badge"
                >{{ row.active ? "Active" : "Inactive" }}</span
              >
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <div class="flex flex-row items-center text-gray-four btn-group">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                >
                   <app-icon icon="more_vert"  style="color: darkgrey !important"></app-icon> 
                </button>
                <mat-menu #menu="matMenu">
                  <label
                    [disabled]="!row.active"
                    mat-menu-itemtranslate
                    mat-menu-item
                    translate
                    (click)="row.active && editSimulatorScenarios(row.id)"
                  >
                    Edit
                  </label>
                  <label
                    mat-menu-itemtranslate
                    mat-menu-item
                    translate
                    (click)="viewSimulatorScenarios(row.id)"
                  >
                    View
                  </label>
                  <label
                    [disabled]="!row.active"
                    mat-menu-itemtranslate
                    mat-menu-item
                    translate
                    (click)="row.active && copySimulatorScenarios(row.id)"
                  >
                    Copy
                  </label>
                  <label
                    [disabled]="!row.active"
                    mat-menu-itemtranslate
                    mat-menu-item
                    translate
                    (click)="row.active && 
                      deleteSimulatorScenarios(deleteSimScenarioRow, row)
                    "
                  >
                    Delete
                  </label>
                  <label
                    mat-menu-itemtranslate
                    mat-menu-item
                    translate
                    *ngIf="row.active"
                    (click)="activeSimulatorScenarios(activeSimScenario, row)"
                  >
                    Make Inactive
                  </label>
                  <label
                    mat-menu-itemtranslate
                    mat-menu-item
                    translate
                    *ngIf="!row.active"
                    (click)="
                      inactiveSimulatorScenarios(inActiveSimScenario, row)
                    "
                  >
                    Make Active
                  </label>
                </mat-menu>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
          <!-- Row shown when there is no matching data.-->
          <tr class="mat-row flex text-center" *matNoDataRow>
            <td class="mat-cell w-full">No Data</td>
          </tr>
        </mat-table>
        <mat-paginator
          #metaPaginator="matPaginator"
          [pageSizeOptions]="[20, 40, 60]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        ></mat-paginator>
      </section>
    </div>
  </div>

  <ng-template #filterSimScenario>
    <app-fly-panel-filter-simulator-scenarios
      (simScenarioFilterChange)="getSimScenariosFilterValues($event)"
      [filterSimScenarioValue]="filterValues"
    >
    </app-fly-panel-filter-simulator-scenarios>
  </ng-template>

  <ng-template #deleteSimScenarioRow>
    <app-qtd-dialogue
      header="Delete"
      [isHTML]="true"
      [isQuestion]="true"
      [description]="deleteDescription"
      cancelText="No"
      confirmText="Yes"
      (canceled)="dialog.closeAll()"
      (confirmed)="deleteSimulatorScenarioById(this.deleteSimScenarioId)"
    >
    </app-qtd-dialogue>
  </ng-template>

  <ng-template #activeSimScenario>
    <app-qtd-dialogue
      header="Make Inactive"
      [isHTML]="true"
      [isQuestion]="true"
      [description]="activeDescription"
      cancelText="No"
      confirmText="Yes"
      (canceled)="dialog.closeAll()"
      (confirmed)="activeSimulatorScenarioById(this.activeSimScenarioId)"
    >
    </app-qtd-dialogue>
  </ng-template>

  <ng-template #inActiveSimScenario>
    <app-qtd-dialogue
      header="Make Active"
      [isHTML]="true"
      [isQuestion]="true"
      [description]="inActiveDescription"
      cancelText="No"
      confirmText="Yes"
      (canceled)="dialog.closeAll()"
      (confirmed)="inActiveSimulatorScenarioById(this.inActiveSimScenarioId)"
    >
    </app-qtd-dialogue>
  </ng-template>
</div>
