

  

  .action-item-btns{
    flex: 1 1 20%;
  }


  .training-issue-actionItem-table-list{
    margin-top: 1.125rem;
    border-radius: 4px;
    border: 0.5px solid #E1E5E4;
    overflow: hidden;
    width: 100%;
}

.cdk-drag-handle.disabled {
  pointer-events: none;
  cursor: default;
}
 
.cdk-drag-handle {
  pointer-events: all;
  color: darkgrey !important;
  cursor: move;
}

:host ::ng-deep .training-issue-actionItem-table-list .mat-header-cell:nth-child(1),
:host ::ng-deep .training-issue-actionItem-table-list .mat-cell:nth-child(1) {
  max-width: 50px;
}

:host ::ng-deep .training-issue-actionItem-table-list .mat-header-cell:nth-child(10),
:host ::ng-deep .training-issue-actionItem-table-list .mat-cell:nth-child(10) {
  max-width: 50px;
}

:host ::ng-deep .training-issue-actionItem-table-list .mat-cell,:host ::ng-deep .training-issue-actionItem-table-list .mat-header-cell {
padding: 1rem;
}

:host ::ng-deep .training-issue-actionItem-table-list .mat-cell.no-data-cell{
  flex: 1 1 100%;
  max-width: unset;
  border-bottom: none;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.btns-info{
  display: flex;
  padding-top: 2rem;
  padding-bottom: 1rem;
}



.customcolorgreen {
  background-color: rgba(92, 155, 49, 0.1);
  color: rgba(92, 155, 49, 1);
}

.customcolorpink{
  background-color: rgba(255, 249, 232, 1);
  color:rgba(255, 207, 92, 1);
}

.customcolorblue
  {
    background-color: rgba(238, 247, 255, 1);
    color: rgba(66, 132, 192, 1);
  }

  .action-item-table-component{
    width: 100%;
  }