.message-wrapper {
  position: relative;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.message-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(188, 241, 181);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 8px 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.message-list {
  overflow-y: auto;
  height: 100%;
  padding: 48px 5px 8px; 
}

.message-row {
  background-color: #e6f4ff;
  margin-bottom: 8px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
