:host ::ng-deep .mat-row{
  vertical-align: top;
}

:host ::ng-deep .mat-cell{
  padding: 1rem 1rem 1rem 1rem;
}

.mat-header-cell{
  padding-left:1rem;
}

// :host ::ng-deep .mat-form-field-wrapper {
//   padding-bottom: 0 !important;
// }
