.w-30{
    width: 30%;
}
.flex-wrap{
    flex-wrap: wrap;
}

.credit-info{
    color: red;
    padding: 5px 0px;
}

.styled-table {
    border-collapse: collapse;
    width: 90%;
    margin: 25px 0;
    font-size: 14px;
    text-align: left;
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #dddddd;
    padding: 12px 15px;
  }
  
  .styled-table th {
    background-color: #d0cccc;
  }
  
  .styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .styled-table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .styled-table th, .styled-table td {
    border-right: 1px solid #dddddd;
  }
  
  .styled-table th:last-child, .styled-table td:last-child {
    border-right: none;
  }

  .editable-column{
    cursor: pointer;;
  }