<div>
  <div class="flex flex-row justify-between items-center px-3 mt-4">
    <p *ngIf="editStep?.number === undefined" class="text-xl font-bold text-gray-900">Add New Step/Sub-Step</p>
    <p *ngIf="editStep?.number !== undefined" class="text-xl font-bold text-gray-900">Edit Step/Sub-Step</p>
    <app-button (clicked)="closed.emit('fp-add-step')" ButtonType='icon' icon="close">
    </app-button>
  </div>
  <div class="w-11/12 ml-4 mt-4 flex flex-col">
    <div class="mt-3">
      <app-label [for]="'number'" text="Step/Sub-Step Number"></app-label>
      <app-textbox [(ngModel)]="stepNum" [disabled]="true" [defaultValue]="'05'"></app-textbox>
    </div>
    <div class="mt-3">
      <app-label [for]="'descciption'" text="Step/Sub-Step Description"></app-label>
      <ckeditor [(ngModel)]="description" [editor]="editor" (ready)="onEditorReady($event)">
      </ckeditor>
      <app-input-error *ngIf="description.length < 1" text="Description is required"></app-input-error>
    </div>
    <div class="flex flex-row-reverse">
      <div class="self-end pt-12">
        <app-button [spinner]="showSpinner" *ngIf="editStep?.number !== undefined" [disabled]="description.length < 1 || showSpinner" (clicked)="updateStepData()" text="Update" size="sm"></app-button>
      </div>
    </div>

    <div class="flex flex-row justify-between" >
      <mat-checkbox  *ngIf="editStep?.number === undefined" [(ngModel)]="anotherCheck"> Add Another Step/Sub-Step
      </mat-checkbox>

      <app-button [spinner]="showSpinner"  *ngIf="editStep?.number === undefined" [disabled]="description.length < 1 || showSpinner" (clicked)="saveStep()" text="Save" size="sm"></app-button>
    </div>
  </div>
</div>
