.nav-border{
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

// :host ::ng-deep .item *:hover{
//   color: white;
//   background-color: #5C9B31;
// }

// :host ::ng-deep app-menu-item > div{
//   padding:1rem;
// }
