<p>Hello @Model.EmployeeFirstName @Model.EmployeeLastName</p>

<p>Welcome to the Employee Portal(EMP)! EMP is your gateway to complete critical training activities such as computer training classes, tests, procedure reviews and more.</p> 
<p>Your Training Administrator has created an account for you in EMP which you can access via the link and username below:</p> 
<p>Link: <a href="@Model.EMPWebsite">Click here to go to website</a></p>
<p>Username: @Model.EmployeeUserName</p>
<p>For security reasons, this email does not contain your account password.Please reset your password by clicking on "Forgot your Password" link on the EMP login page.</p>      
<p>
    <b>Important!</b>The following internet browsers are supported: Internet Explorer, Google Chrome, Microsoft Edge.We encourage you to login as soon as possible to ensure everything is working correctly. If you have any questions, please reach out to your Training Administrator.      
    </p> <br />
<p>Thank you!
</p> 