<app-data-loader *ngIf="loader"></app-data-loader>
<ng-container *ngIf="!loader">
    <div class="flex flex-row justify-between items-center px-12 mt-5">
        <p *ngIf="mode == 'add'" class="text-xl font-bold text-gray-900">Add New Event</p>
        <p *ngIf="mode == 'edit'" class="text-xl font-bold text-gray-900">Edit Event</p>
        <app-button (click)="flyPanelService.close()" ButtonType='icon' icon="close"></app-button>
    </div>
    <div class="flex flex-col pb-0">
        <form [formGroup]="addEventForm">
            <section class="bg-white section p-5">
                <div>
                    <app-label [for]="'scenariotitle'" text="Event Title" class="float-left label required"></app-label>
                    <app-textbox type="text" formControlName="eventTitle" placeholder="Enter Event Title">
                    </app-textbox>
                </div>

                <div class="mt-4">
                    <app-label [for]="'scenarioDescription'" text="Event Description"></app-label>
                    <app-textarea type="text" formControlName="eventDescription" placeholder="Enter Event Description"
                        [value]="addEventForm.get('eventDescription')?.value">
                    </app-textarea>
                </div>

                <div class="d-flex justify-between" *ngIf="mode == 'add'">
                    <div class="mt-4">
                        <mat-checkbox formControlName="isAnotherEvent"> Add another Event</mat-checkbox>
                    </div>
                    <div class="mt-4">
                        <app-button type="button" size="sm" color="primary" text="Save" [disabled] = "addEventForm.invalid" (click)="addEventAsync()">
                        </app-button>
                    </div>
                </div>
                <div class="d-flex justify-content-end" *ngIf="mode == 'edit'">
                    <div class="mt-4">
                        <app-button type="button" size="sm" color="primary" text="Update" [disabled] = "addEventForm.invalid" (click)="updateEventAync()">
                        </app-button>
                    </div>
                </div>
            </section>
        </form>
    </div>
</ng-container>