.mat-column-number {
    flex: 0 0 7%;
}

.mat-column-question {
    flex: 0 0 60%;
}

.mat-column-type {
    flex: 0 0 7%;
}

.mat-column-taxonomyLevel {
    flex: 0 0 10%;
}

.mat-column-id {
    flex: 0 0 12%;
}
