.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.table-list {
    margin-top: 1.125rem;
    border-radius: 4px;
    border: none;
    overflow: hidden;
}

.b-w-none {
    border-bottom-width: 0px;
}