
.step-controls-section {
  padding: 1.5rem 2rem;
  flex: 1 1 70%;
  border-radius: 0.25rem;
  border: 0.5px solid #e1e5e4;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(122, 128, 126, 0.1);
}

.landing-page-heading {
  color: #000d09;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 400;
  line-height: 160%;
}
.landing-page-caption {
  color: #7a807e;
  font-weight: 500;
}