<div *ngIf="isLoading">
  <app-data-loader></app-data-loader>
</div>
<div *ngIf="!isLoading" class="ml-4 mr-4">
    <div class="flex flex-row flex-wrap mt-3 justify-between">
      <div class="flex flex-col">
        <p class="font-bold text-lg">{{number}} - {{name}}</p>

        <!-- <p class="text-xs text-gray-four">Issuing Authority: {{issuAuthTitle}}</p>
        <p class="font-bold text-lg">{{procTitle}}</p> -->
      </div>
      <div class="flex flex-row  items-center text-gray-four btn-group">
        <div class="cursor-pointer bg-gray-200 p-2 rounded">
          <label mat-button [matMenuTriggerFor]="menu" class="mb-0">
            <span *ngIf="isActive" class="font-bold">
              <span style="color:green" class="mr-1">●</span>
              Active
            </span>
            <span *ngIf="!isActive" class="font-bold">
              <span style="color:red" class="mr-1">●</span>
              Inactive
            </span>

          </label>
          <app-icon icon="expand_more" [matMenuTriggerFor]="menu"></app-icon>
          <mat-menu #menu="matMenu">
            <label mat-menu-item *ngIf="!isActive" (click)="changeStatus(statusModal,true)">
                <span style="color:green" class="mr-1">●</span>Make
                Active</label>

            <label mat-menu-item *ngIf="isActive" [disabled]="!isInstructorActive" (click)="changeStatus(statusModal,false)">
                <span style="color:red" class="mr-1">●</span> Make
                Inactive</label>
        </mat-menu>
        </div>

        <div class="ml-2 cursor-pointer ">
          <app-icon icon="more_horiz" [matMenuTriggerFor]="options"></app-icon>
          <mat-menu #options="matMenu">
            <label (click)="openflyPanel(addNewProcedure,'Edit')" mat-menu-item [disabled]="!isActive || !isInstructorActive"> Edit</label>
            <label (click)="openflyPanel(addNewProcedure,'Copy')" mat-menu-item [disabled]="!isActive || !isInstructorActive"> Copy</label>
            <div class="flex flex-row">
              <label (click)="deleteProcedure(unlinkModal)" mat-menu-item [disabled]="insDelete || !isInstructorActive">
                Delete </label><app-icon icon="help" *ngIf="insDelete" matTooltip="The Delete Option is not avaliable due to linked data in Scheduling Classes"></app-icon>
            </div>

          </mat-menu>
        </div>

      </div>


    </div>
    <div class="flex flex-row flex-wrap bg-white shadow-xs border-0.5 rounded px-2 pt-2 mt-2">
        <p class="text-xs text-gray-four mr-4 ">Email: <span class="text-qtd">{{email}}</span></p>
        <p class="text-xs text-gray-four mr-4 "><span class="text-qtd">{{IsWorkBookAdmin}}</span></p>
        <p class="text-xs text-gray-four mr-4 ">Effective Date: {{effevtiveDate}}</p>

    </div>
  </div>
<div class="ml-4 mt-2">
    <p>

       {{description}}
       </p>
</div>



  <ng-template #addNewProcedure>
    <app-fly-panel-add-instructor (refresh)="refresh()" [oldInstructor]="instructr" [mode]= "modalType" [isCopy]="isCopy" (closed)="flyPanelService.close()">
    </app-fly-panel-add-instructor>
    <!-- <app-fly-panel-add-instructor [oldProcedure]="currentProcedure" [isCopy]="isCopy" (closed)="flyPanelService.close()">
    </app-fly-panel-add-instructor> -->
  </ng-template>

  <ng-template #unlinkModal>
    <app-qtd-dialogue header="Delete {{('Instructor' | labelReplacement)| async}}" [description]="deleteDescription" cancelText="No"
      confirmText="Yes" [showEffectiveDateAndReason]="true" (canceled)="dialog.closeAll()" (confirmed)="Delete($event)">
    </app-qtd-dialogue>
  </ng-template>
  <ng-template #statusModal>
    <app-qtd-dialogue [header]="modalHeader" [description]="modalDescription" cancelText="No" confirmText="Yes"
        [showEffectiveDateAndReason]="true" (canceled)="dialog.closeAll()" (confirmed)="MakeActive($event,!isActive)">
    </app-qtd-dialogue>
</ng-template>
