.custom_class_1{
    transform: translate(0px, -39px);
}

.custom_class_2{
    transform: translate(415px, 27px) !important;
    color: rgb(92, 155, 49) !important
}

.ml-32 {
    margin-left: 10.5rem !important;
}
